ul.reset,
ul.features,
ul.arrows,
ul.steps,
ul.checks {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.steps {
    clear: both;
}

ul.features li,
ul.arrows li {
    position: relative;
    margin: 0;
    color: #000;
    line-height: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.rtl-lang ul.features li,
.rtl-lang ul.arrows li,
html[lang="fa"] ul.features li,
html[lang="fa"] ul.arrows li {
    padding-right: 20px;
}

.gray ul.features li:last-child,
.gray ul.arrows li:last-child {
    margin-bottom: 0;
}

ul.features li a {
    color: #000000;
}

ul.arrows li a {
    color: #d51820;
}

ul.features.view li,
ul.arrows.view li {
    line-height: 35px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

ul.features li:before,
ul.arrows li:before {
    position: absolute;
    content: "\f0da";
    font-family: FontAwesome;
    font-size: 22px;
    vertical-align: middle;
    top: 1px;
    left: 0;
    color: #d51820;
}

.rtl-lang ul.features li:before,
.rtl-lang ul.arrows li:before,
html[lang="fa"] ul.features li:before,
html[lang="fa"] ul.arrows li:before {
    content: "\f0d9";
    right: 0;
    width: 22px;
}

ul.features li li:before,
ul.arrows li li:before {
    content: "\f10c";
    font-size: 12px;
}

ul.features.gray {
    padding: 0 20px 20px 20px;
    background-color: #f0f0f0;
}

.features.gray {
    margin: 0;
    padding: 20px 20px 10px 20px;
    background-color: #f0f0f0;
}

ul.steps li {
    margin: 0;
    color: #000;
    list-style: none;
    clear: both;
}

ul.steps li i {
    margin-right: 30px;
    margin-bottom: 20px;
}

ul.steps li span {
    color: #d51820;
}

ul.checks li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 15px;
}

.rtl-lang ul.checks li,
html[lang="fa"] ul.checks li {
    padding-right: 40px;
}

ul.checks li:before {
    position: absolute;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 22px;
    vertical-align: middle;
    top: -3px;
    left: 0;
    color: #29a643;
}

.rtl-lang ul.checks li:before,
html[lang="fa"] ul.checks li:before {
    right: 0;
}

ol.options {
    color: #d51820;
}

ol.options span {
    color: #444444;
}

ul.arrows li ul {
    list-style-type: none;
    padding-left: 12px;
}

.rt-avail-banks .alert-info ul.arrows li {
    margin: 0;
    line-height: 30px;
}

.rt-avail-banks .alert-info ul.arrows li::before {
    top: 0;
}

.rt-avail-banks .alert-info ul.arrows {
    margin-top: 15px;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-gap: 0;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-count: 4;
}

.mt4_fund_history_bullets ul.arrows li:last-child {
    margin-bottom: 10px;
}

ul.ftr-faq {
    list-style: none;
}

/*Media Queries*/
@media(max-width:767px) {
    .rt-avail-banks .alert-info ul.arrows {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }

}

@media (max-width:600px) {
    .rt-avail-banks .alert-info ul.arrows {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

}

@media(max-width:380px) {
    .rt-avail-banks .alert-info ul.arrows {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

}
