/* New changes for live education v2 on rooms_live_player.php */
#overlay-whole {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100vh;
	z-index: 2;
	display: none;
}

.cntv {
    padding: 15px 0;
}

.cntv .top-tv-bar {
    height: 60px;
    text-align: center;
    margin: 0 0 15px 0;
}

.cntv .top-tv-bar .top-back-button {
    display: none;
}

.cntv .top-tv-bar .top-back-button a { 
    color:black;
    font-weight: bold;
}

.cntv .top-tv-bar .top-back-button i {
    font-size: 25px;
    padding: 0 0px 0 10px;
}

.cntv .main-tv-content {
    position: relative;
    overflow: auto;
}

.cntv .main-tv-content .content {
    position: relative;
    height: 29vh;
    overflow: hidden;
    background-color: #222;
}

.cntv .main-tv-content .content .video {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cntv .main-tv-content .bg-overlay {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.cntv .main-tv-content .bg-overlay .wrap {
    width: 100%;
    max-width: 550px;
    margin: auto
}

.cntv .main-tv-content .bg-overlay .fa-lock {
    font-size: 90px;
    opacity: 0.8;
}

.cntv .main-tv-content .bg-overlay .fa-ban {
    font-size: 130px;
    opacity: 0.2;
}

.cntv .main-tv-content .bg-overlay hr {
    border-color: #D51820;
    width: 200px;
}
.cntv .main-tv-content .bg-overlay h2 {
    margin-bottom: 0;
}

/* Bottom Wrap */
.cntv .bottom-wrap {
    padding: 15px 0 15px 0;
}

.cntv .bottom-wrap .bottom-wrap__left h2 {
    font-size: 23px;	
    font-weight: bold;	
    margin-right: 20px;
    margin-bottom: 0;
}

.rtl-lang .cntv .bottom-wrap .bottom-wrap__left h2 {
    margin-right:0;
    margin-left: 20px;
}

.cntv .bottom-wrap .bottom-wrap__left hr.half-red {
    border-color: #D51820;
    width: 80px;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 10px!important;
}

.cntv .bottom-wrap .bottom-wrap__left .bottom-wrap__left--schedule {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}

.cntv .bottom-wrap .bottom-wrap__left .bottom-wrap__left--schedule i {
    color: #D51820;
}

.cntv .bottom-wrap .bottom-wrap__left p {
    margin: 0;
    padding-right: 20px;
}

.cntv .bottom-wrap .bottom-wrap__right {
    padding-top: 10px;
}

.cntv .bottom-wrap .bottom-wrap__right ul.checks li {
    padding-left: 20px;
    margin-bottom: 5px;
}

.cntv .bottom-wrap .bottom-wrap__right ul.checks li:before {
    font-size: 15px;
    top: 0;
}

.cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block {
    font-size: 21px;
    padding: 8px 0!important;
}

html[lang="el"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block {
    font-size: 14px;
}

html[lang="vn"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
html[lang="ko"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block {
    font-size: 15px;
}

html[lang="it"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
html[lang="bn"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
html[lang="zh_CN"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
html[lang="tw"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block {
    font-size: 16px;
}

html[lang="en"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
html[lang="id"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
html[lang="th"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
html[lang="ru"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block {
    font-size: 18px;
}

html[lang="nl"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
html[lang="hu"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
html[lang="pl"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
html[lang="fr"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
html[lang="pt"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block {
    font-size: 19px;
}

.cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-red,
.cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn--primary_green {
    letter-spacing: unset!important;
}

.cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns #join-live-room,
.cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns #join-basic-room,
.cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns #join-advanced-room,
.cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns #open-real-account,
.cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns #start-with-bonus {
    height: 39px!important;
    max-width: 100%;
}

html[lang="fr"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns #start-with-bonus {
    height: inherit !important;
}

.cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .arrow-btn,
.cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .arrow-btn-large { 
    display: none;
}

.cntv .bottom-wrap__left--schedule li {
    padding-right: 20px;
}

.rtl-lang .cntv .bottom-wrap__left--schedule li {
    padding-left: 20px;
    padding-right: 0;
}

.cntv .bottom-wrap__left--schedule li + li {
    border-left: 1px solid #ccc;
    padding: 0 20px;
}

.rtl-lang .cntv .bottom-wrap__left--schedule li + li {
    border-left: 0;
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

.cntv .tooltip-schedule {
    display: flex;
    width: 100px;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.cntv .tooltip-schedule span{
    font-size: 10px;
}

.cntv .bottom-wrap .bottom-wrap__left .bottom-wrap__left--schedule {
    display: flex!important;
    display: -ms-flexbox!important;
    display: -webkit-flex!important;
}

/* Modal */
#join-live-room, #join-basic-room, #join-advanced-room {
	background: #29A643;
}

#join-room .modal-content {
    padding: 30px;
    padding-top: 35px;
    border-radius: 0px;
}

#join-room .modal-content .form-group input, 
#join-room .modal-content .form-group select {
    border-radius: 0px;
}

#join-room .modal-content .close span {
	color: #4a4a4a !important;
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 15px;
}

#join-room .modal-content .radio input[type="radio"],
#join-room .modal-content .radio-inline input[type="radio"],
#join-room .modal-content .checkbox input[type="checkbox"],
#join-room .modal-content .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: 0px;
  margin-top: 4px \9;
}

#back-to-rooms {
    font-size: 20px!important;
}

.form-text-size {
    font-size:12px;
}

.error-message {
    font-size:12px;
    color:#d51820;
}


.rtl-lang .cntv .bottom-wrap .bottom-wrap__left hr.half-red {
    margin-left: unset;
    margin-right: 0;
}

.rtl-lang .cntv .bottom-wrap .bottom-wrap__left p {
    padding-right: 0;
    padding-left: 20px;
}

.rtl-lang .cntv .bottom-wrap .bottom-wrap__right ul.checks li {
    padding-right: 20px;
    padding-left: 0;
}

.rtl-lang .right30 {
    margin-left: 15px!important;
}

.rtl-lang .cntv .top-tv-bar .top-back-button i {
    transform: rotate(180deg);
}

.rtl-lang .radio label, .checkbox label {
    padding-right: 20px;
    padding-left: 0px;
}

.rtl-lang .popover.top > .arrow:after {
    left: 0;
}

.rtl-lang .cntv .bottom-wrap .bottom-wrap__left .bottom-wrap__left--schedule li span {
    display: inline-block;
    direction: ltr!important;
}

.rtl-lang .popover {
    width: 1000px!important;
}

/* Media queries */
@media (min-width: 567px) {
    .cntv .top-tv-bar {
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cntv .top-tv-bar .top-back-button {
        border-left: 1px solid #dbdbdb;
        padding: 10px 0 10px 30px;
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .cntv .main-tv-content .content {
        height: 30vh;
    }

    .rtl-lang .cntv .bottom-wrap__details{
        justify-content: right;
    }

    .rtl-lang .cntv .top-tv-bar .top-back-button {
        border-left: unset;
        border-right: 1px solid #dbdbdb;
        padding: 10px 30px 10px 0;
    }
}

@media (min-width: 768px) {
    .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--text .col-sm-6:first-child {
        padding-right: 5px;
    }

    .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--text .col-sm-6:nth-child(2) {
        padding-left: 5px;
    }

    .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .col-sm-6:nth-child(2) {
        padding-right: 5px;
    }

    .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .col-sm-6:nth-child(4) {
        padding-left: 5px;
    }

    .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns {
        padding-top: 5px;
    }

    .cntv .main-tv-content .content {
        height: 45vh;
    }

    .rtl-lang .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block {
        font-size: 15px;
    }

    html[lang="ko"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block {
        font-size: 18px;
    }

    html[lang="ph"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
    html[lang="tw"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
    html[lang="it"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block {
        font-size: 19px;
    }

    html[lang="en"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
    html[lang="ru"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
    html[lang="nl"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
    html[lang="id"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block {
        font-size: 21px;
    }
    
    .rtl-lang .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--text .col-sm-6:first-child,
    .rtl-lang .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .col-sm-6:nth-child(2) {
        padding-right: 15px;
        padding-left: 5px;
    }

    .rtl-lang .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--text .col-sm-6:nth-child(2),
    .rtl-lang .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .col-sm-6:nth-child(4) {
        padding-right: 5px;
        padding-left: 15px;
    }
}

@media (min-width: 992px) {
    .modal.in .modal-dialog {
        width: 50%;
    }

    .cntv .main-tv-content .content {
        height: 75vh;
    }

    html[lang="vn"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
    html[lang="el"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block {
        font-size: 17px;
    }

    html[lang="zh_CN"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
    html[lang="bn"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
    .rtl-lang .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block {
        font-size: 19px;
    }

    html[lang="th"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
    html[lang="pt"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
    html[lang="pl"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block,
    html[lang="hu"] .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .btn.btn-block {
        font-size: 21px;
    }
}

@media (min-width: 1200px) {
    .cntv .bottom-wrap .bottom-wrap__left {
        padding-top: 10px;
        border-right: 1px solid #ccc;
        min-height: 120px;
        display: grid;
        align-items: center;
    }

    .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--text {
        padding-top: 0;
        padding-left: 20px;
    }

    .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns {
        padding-top: 8px;
    }

    .rtl-lang .cntv .bottom-wrap .bottom-wrap__left {
        border-right: unset;
        border-left: 2px solid #ccc;
    }

    .rtl-lang .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--text {
        padding-left: 0;
        padding-right: 20px;
    }
}

@media (min-width: 1366px) {
    .cntv .main-tv-content .content {
        height: 100vh;
    }   
}

@media (min-width: 1440px) {
    .cntv .main-tv-content .content {
        height: 75vh;
    }

    .modal.in .modal-dialog {
        width: 35%;
    }

    .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns #join-live-room,
    .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns #join-basic-room,
    .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns #join-advanced-room,
    .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns #start-with-bonus,
    .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns #open-real-account {
        float: right;
    }
}

@media (min-width: 1700px) { 
    .rtl-lang .cntv .bottom-wrap__details{
        justify-content: right;
    }

    .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns { 
        padding-left: 85px;
    }

    .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .arrow-btn { 
        display: block;
        position: absolute;
        left: -50px;
        top: 35px;
    }

    .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .arrow-btn img { 
        max-width: 100px;
    }

    .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .arrow-btn-large { 
        display: block;
        position: absolute;
        left: -35px;
        top: 45px;
        transform: rotate(200deg) scaleX(-1);
    }

    .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .arrow-btn-large img { 
        max-width: 110px;
    }

    .rtl-lang .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns { 
        padding-left: 15px;
        padding-right: 85px;
    }

    .rtl-lang .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .arrow-btn { 
        left: unset;
        right: -50px;
        transform: scaleX(-1);
    }

    .rtl-lang .cntv .bottom-wrap .bottom-wrap__right .bottom-wrap__right--btns .arrow-btn-large { 
        left: unset;
        right: -35px;
        transform: scaleX(-1);
    }
}

@media (min-width: 2500px) {
    .cntv .bottom-wrap .bottom-wrap__left {
        border-right: none;
    }

    .cntv .bottom-wrap .bottom-wrap__right {
        padding-left: 5%;
    }

    .rtl-lang .cntv .bottom-wrap .bottom-wrap__left {
        border-left: none;
    }

    .rtl-lang .cntv .bottom-wrap .bottom-wrap__right {
        padding-left: 15px;
        padding-right: 5%;
    }
}

@media (min-width: 3000px) { 
    .cntv .bottom-wrap .bottom-wrap__right {
        padding-left: 10%;
    }

    .rtl-lang .cntv .bottom-wrap .bottom-wrap__right {
        padding-right: 10%;
        padding-left: 15px;
    }
}

@media (min-width: 3500px) { 
    .cntv .bottom-wrap .bottom-wrap__right {
        padding-left: 15%;
    }

    .rtl-lang .cntv .bottom-wrap .bottom-wrap__right {
        padding-right: 15%;
        padding-left: 15px;
    }
}