/* BUTTONS */
.btn {
    text-shadow: none !important;
}

button {
    outline: none !important;
    border: none;
    background: none;
}

a.btn,
button.btn {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #fff;
    white-space: normal;
    line-height: 1;
    padding: 8px 20px !important;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: none;
    border: 1px solid #fff;
    -webkit-transform: translateZ(0px);
}

.rtl-lang a.btn,
.rtl-lang button.btn,
html[lang="fa"] a.btn,
html[lang="fa"] button.btn {
    font-weight: 400;
}

a.btn.text-nowrap,
button.btn.text-nowrap {
    white-space: nowrap;
}

a.btn:hover,
button.btn:hover {
    color: #fff;
}

a.btn.btn-full,
button.btn.btn-full {
    width: 100%;
}

a.btn.btn-big,
button.btn.btn-big {
    font-size: 26px;
    border-width: 2px;
    padding: 5px 20px;
    line-height: 1;
    line-height: normal;
    letter-spacing: .025em;
}

a.btn.btn-big:hover,
button.btn.btn-big:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

a.btn.btn-red .fa,
a.btn.btn--primary_green .fa,
a.btn.btn-green .fa,
a.btn.btn--secondary_red .fa,
button.btn.btn-green .fa,
button.btn.btn--secondary_red .fa,
a.btn.btn-black .fa,
button.btn.btn-red .fa,
button.btn.btn--primary_green .fa {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 15px;
}

a.btn.btn-solid,
button.btn.btn-solid {
    color: #fff;
    background-color: #888;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
}

.btn.btn-block {
    max-width: 450px;
}

a.btn.btn-solid,
button.btn.btn-red,
.btn.btn-red,
button.btn.btn--primary_green,
.btn.btn--primary_green,
.btn.btn-blck,
button.btn.btn-grey {
    font-size: 24px;
    letter-spacing: 0.5px !important;
}

.btn-big i.fa {
    margin-left: 20px;
}

a.btn.btn-solid:hover,
button.btn.btn-solid:hover {
    background-color: #666666;
}

a.btn.btn-solid.btn-gray,
button.btn.btn-solid.btn-gray {
    background-color: #868686;
}

a.btn.btn-solid.btn-gray:hover,
button.btn.btn-solid.btn-gray:hover {
    background-color: #777;
}

a.btn.btn-drop,
button.btn.btn-drop {
    padding-right: 25px;
    position: relative;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #ccc;
    border-color: #ccc !important;
    padding: 9px 20px 6px 20px !important;
}

html[lang="pl"] .btn.btn-drop,
html[lang="es"] .btn.btn-drop {
    padding: 9px 20px 6px 20px !important;
}

button.btn.btn-drop > i {
    position: relative;
    top: -1px;
}

a.btn.btn-drop:after,
button.btn.btn-drop:after {
    content: '';
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    position: absolute;
    border-width: 5px 5px 0 5px;
    border-color: #cccccc transparent transparent transparent;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -2px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-red small,
.btn--primary_green small,
.btn-green small,
.btn--secondary_red small,
.btn-gray small {
    display: block;
    margin-top: 2px;
    font-size: 12px;
    font-weight: bold;
    text-shadow: none !important;
    text-transform: none;
}

.open a.btn.btn-drop,
.open button.btn.btn-drop {
    color: #fff;
}

.open a.btn.btn-drop:after,
.open button.btn.btn-drop:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.btn.nextprev {
    min-width: 100px;
    padding: 8px 30px !important;
}

a.btn.btn-red .fa,
a.btn.btn--primary_green .fa,
a.btn.btn-green .fa,
a.btn.btn--secondary_red .fa,
a.btn.btn-gray .fa,
a.btn.btn-black .fa,
button.btn.btn-red .fa,
button.btn.btn--primary_green .fa,
button.btn.btn-green .fa,
button.btn.btn--secondary_red .fa,
button.btn.btn-gray .fa,
button.btn.btn- .fa {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 15px;
}

.btn.nextprev i.fa {
    margin: 0;
}

.btn-prev:before {
    content: "\f060";
    font-family: FontAwesome;
    margin-right: 15px;
}

.btn-next:after {
    content: "\f061";
    font-family: FontAwesome;
    margin-left: 15px;
}

/*BUTTON SWITCH*/
a.btn.btn-red,
button.btn.btn-red,
a.btn.btn--primary_green,
button.btn.btn--primary_green{
    border-color: #29A643 !important;
    color: #29A643 !important;
    background: none !important;
}

a.btn.btn-red:hover,
button.btn.btn-red:hover,
a.btn.btn--primary_green:hover,
button.btn.btn--primary_green:hover {
    border-color: #FFF !important;
    color: #FFF !important;
    background: #29A643 !important;
}

a.btn.btn-green,
button.btn.btn-green,
a.btn.btn--secondary_red,
button.btn.btn--secondary_red  {
    border-color: #D51820 !important;
    color: #D51820 !important;
    background: none !important;
}

a.btn.btn-green:hover,
button.btn.btn-green:hover,
a.btn.btn--secondary_red:hover,
button.btn.btn--secondary_red:hover {
    border-color: #FFF !important;
    color: #FFF !important;
    background: #D51820 !important;
}

a.btn.btn-solid.btn-red,
button.btn.btn-solid.btn-red,
a.btn.btn-solid.btn--primary_green,
button.btn.btn-solid.btn--primary_green {
    background-color: #29A643 !important;
    color: #fff !important;
}

a.btn.btn-solid.btn-red:hover,
button.btn.btn-solid.btn-red:hover,
a.btn.btn-solid.btn--primary_green:hover,
button.btn.btn-solid.btn--primary_green:hover {
    background-color: #238C38 !important;
    color: #fff !important;
}

a.btn.btn-solid.btn-green,
button.btn.btn-solid.btn-green,
a.btn.btn-solid.btn--secondary_red,
button.btn.btn-solid.btn--secondary_red {
    background-color: #D51820 !important;
    color: #fff !important;
}

a.btn.btn-solid.btn-green:hover,
button.btn.btn-solid.btn-green:hover,
a.btn.btn-solid.btn--secondary_red:hover,
button.btn.btn-solid.btn--secondary_red:hover {
    background-color: #B30000 !important;
    color: #fff !important;
}

a.btn.btn-solid.btn-blue,
button.btn.btn-solid.btn-blue {
    background-color: #31708f !important;
    color: #fff !important;
}

a.btn.btn-solid.btn-blue:hover,
button.btn.btn-solid.btn-blue:hover {
    background-color: #275973 !important;
    color: #fff !important;
}


.btn-gray-o {
    color: #6C6C6D!important;
    background: none!important;
    border: 1px solid #6C6C6D!important;
}

a.btn.btn-solid.btn-gray-o,
button.btn.btn-solid.btn-gray-o {
    color: #6C6C6D!important;
    background: none!important;
    border: 1px solid #6C6C6D!important;
}

a.btn.btn-solid.btn-gray-o:hover,
button.btn.btn-solid.btn-gray-o:hover {
    color: #fff!important;
    background-color: #6C6C6D!important;
    border: 1px solid #6C6C6D!important;
}

a.btn-orange,
button.btn-orange {
    color: #fff!important;
    background-color: #FEA812!important;
    border-color: transparent!important;
}

a.btn-orange:hover,
a.btn-orange:focus,
button.btn-orange:hover,
button.btn-orange:focus  {
    color: #fff!important;
    background-color: #ea9e26!important;
}

a.btn-orange-o,
button.btn-orange-o {
    color: #FEA812!important;
    background-color: transparent!important;
    border-color: #FEA812!important;
}

a.btn-orange-o:hover,
a.btn-orange-o:focus,
button.btn-orange-o:hover,
button.btn-orange-o:focus {
    color: #fff!important;
    background-color: #FEA812!important;
}

.btn-black {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    text-shadow: none;
    color: #fff;
    background-color: #111 !important;
}

.btn-black:hover {
    opacity: 0.8;
    background-color: #000 !important;
}

.btn.btn-green:hover,
.btn.btn--secondary_red:hover{
    background-color: #238c38 !important;
}

.btn-gray {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    text-shadow: none;
    color: #fff;
    background-color: #6C6C6C !important;
}

.stment-btn {
    width: 100%;
}

.stment-btn .btn {
    float: left;
    padding: 10px 12px !important;
}

.stment-btn .btn + .btn {
    margin-left: 5%;
}

.stment-btn button:nth-child(1) {
    width: 15%;
}

.stment-btn button:nth-child(2) {
    width: 60% !important;
}

.stment-btn button:nth-child(3) {
    width: 15%;
}

.stment-btn .btn:hover {
    background-color: #595959 !important;
}

.btn-group .btn.btn-default {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    height: 28px;
    line-height: 15px;
    border-radius: 0;
    padding: 6px;
}

.btn-group .btn:nth-child(1).btn-default,
.btn-group .btn.btn-default:not(.active) {
    background: white;
    border-radius: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
    background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
}

.btn-group .btn:nth-child(1).btn-default.active {
    background: #26d53f;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

a.btn.btn-solid.btn-blue.info-lbgr {
    background-color: #1C8CC3 !important;
}

a.btn.btn-solid.btn-blue.info-lbgr:hover {
    background-color: #3981A7 !important;
}

.txt-with-btn {
    width: 287px !important;
}

.greenRed-btns .btn {
    display: block;
    max-width: 500px;
    margin: 0 auto;
}

.greenRed-btns .btn.btn-red,
.greenRed-btns .btn.btn--primary_green {
    font-size: 30px;
    padding: 15px 20px !important;
}

.greenRed-btns .btn.btn-green,
.greenRed-btns .btn.btn--secondary_red{
    font-size: 24px;
    padding: 10px 20px !important;
}

.greenRed-btns .btn.btn-outline {
    font-size: 24px;
}

.btn-appstore,
.btn-playstore {
    position:relative;
    display:block;
    margin:0 auto;
    text-align: center;
    max-width: 116px;
}

.btn.no-arrow {
    cursor: default;
}

a.btn.btn-drop.no-arrow::after,
button.btn.btn-drop.no-arrow::after {
    display: none;
}

.main-site.hp-v17 .btn-red small,
.main-site.hp-v17 .btn--primary_green small,
.main-site.hp-v17 .btn-green small,
.main-site.hp-v17 .btn--secondary_red small,
.main-site.hp-v17 .btn-gray small {
    font-size: 13px !important;
    font-weight: 300;
}

.main-site.hp-v17 .btn.btn-gray {
    border-color: #6c6c6c !important;
    color: #6c6c6c !important;
    background-color: transparent !important;
}

.main-site.hp-v17 .btn.btn-gray:hover,
.main-site.hp-v17 .btn.btn-gray:focus {
    color: #fff !important;
    background-color: #6c6c6c !important;
}

.hp-v17.partners a.btn.btn-solid.btn-gray,
.hp-v17.partners button.btn.btn-solid.btn-gray {
    color: #fff !important;
    background-color: #868686 !important;
}

.btn.btn-applynow {
    padding: 8px 80px !important;
}

.main-site.hp-v17 a.btn.btn-solid,
.main-site.hp-v17 button.btn.btn-red,
.main-site.hp-v17 .btn.btn-red,
.main-site.hp-v17 button.btn.btn--primary_green,
.main-site.hp-v17 .btn.btn--primary_green,
.main-site.hp-v17 .btn.btn-green,
.main-site.hp-v17 .btn.btn--secondary_red,
.main-site.hp-v17 .btn.btn-gray,
.main-site.hp-v17 #awards-content .btn {
    font-size: 24px;
}

.btn.btn-yellow.center-block {
    font-size: 28px;
}

.btn-yellow {
    max-width: 410px;
    font-size: 30px;
    color: #000;
    padding: 8px 20px;
    line-height: normal;
    background-color: #f6d72f;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-yellow:hover,
.btn-yellow:focus {
    color: #000;
    background-color: #e6d72f;
}

/*rtl languages*/
.rtl-lang.main-site.hp-v17 .btn .fa {
    margin-right: 0;
    margin-left: 15px;
}

.rtl-lang a.btn.btn-red .fa.fa-pencil-square-o,
.rtl-lang a.btn.btn--primary_green .fa.fa-pencil-square-o,
.rtl-lang a.btn.btn-green .fa.fa-download,
.rtl-lang a.btn.btn--secondary_red .fa.fa-download,
.rtl-lang a.btn.btn-red .fa.fa-arrow-right,
.rtl-lang a.btn.btn--primary_green .fa.fa-arrow-right,
.rtl-lang a.btn.btn-green .fa.fa-arrow-right,
.rtl-lang a.btn.btn--secondary_red .fa.fa-arrow-right,
.rtl-lang a.btn.btn-red .fa.fa-file-pdf-o,
.rtl-lang a.btn.btn--primary_green .fa.fa-file-pdf-o {
    margin-left: 15px;
    margin-right: 0;
}

.rtl-lang a.btn.btn-drop,
.rtl-lang button.btn.btn-drop {
    padding: 11px 20px 6px 20px !important;
}

.rtl-lang a.btn.btn-red .fa,
.rtl-lang a.btn.btn--primary_green .fa,
.rtl-lang a.btn.btn-green .fa,
.rtl-lang a.btn.btn--secondary_red .fa,
.rtl-lang a.btn.btn-black .fa,
.rtl-lang button.btn.btn-red .fa,
.rtl-lang button.btn.btn--primary_green .fa  {
    margin-right: 0;
}

.rtl-lang a.btn.btn-red i.fa.fa-plus-circle,
.rtl-lang a.btn.btn--primary_green i.fa.fa-plus-circle {
    margin-left: 15px;
}

.rtl-lang button.btn.btn-solid.btn-gray {
    padding: 6px 0 !important;
}

.rtl-lang button.btn.btn-solid.btn-gray small {
    padding-top: 0;
    margin-top: 1px;
}

.rtl-lang .btn-group > .btn {
    position: relative;
    float: right;
}

/*bn*/
html[lang="bn"] .btn-red small,
html[lang="bn"] .btn--primary_green small,
html[lang="bn"] .btn-green small,
html[lang="bn"] .btn--secondary_red small,
html[lang="bn"] .btn-gray small {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    text-shadow: none !important;
    text-transform: none;
}

html[lang="bn"] a.btn small {
    font-weight: 300;
}

html[lang="bn"] a.btn.btn-solid,
html[lang="bn"] button.btn.btn-red,
html[lang="bn"] .btn.btn-red,
html[lang="bn"] button.btn.btn--primary_green,
html[lang="bn"] .btn.btn--primary_green,
html[lang="bn"] .btn.btn-blck,
html[lang="bn"] button.btn.btn-grey {
    font-size: 22px;
}

html[lang="bn"] a.btn.btn-solid.btn-red,
html[lang="bn"] button.btn.btn-solid.btn-red ,
html[lang="bn"] a.btn.btn-solid.btn--primary_green,
html[lang="bn"] button.btn.btn-solid.btn--primary_green{
    padding: 9px 11px !important;
}

html[lang="bn"] a.btn,
html[lang="bn"] button.btn {
    padding: 8px 11px !important;
}

html[lang="bn"] a.btn.btn-drop,
html[lang="bn"] button.btn.btn-drop {
    padding: 10px 20px 6px 20px !important;
}

/*cn*/
html[lang="zh_CN"] a.btn,
html[lang="zh_CN"] button.btn,
html[lang="zh_CN"] a.btn.btn-big,
html[lang="zh_CN"] button.btn.btn-big,
html[lang="zh_CN"] a.btn.btn-drop,
html[lang="zh_CN"] button.btn.btn-drop,
html[lang="zh_CN"] .btn-file {
    /*font-weight: bold;*/
}

html[lang="zh_CN"] .main-site.hp-v17 .btn-red small,
html[lang="zh_CN"] .main-site.hp-v17 .btn--primary_green small,
html[lang="zh_CN"] .main-site.hp-v17 .btn-green small,
html[lang="zh_CN"] .main-site.hp-v17 .btn-gray small {
    margin-top: 5px;
}


/*el*/
html[lang="el"] button.btn.btn-drop {
    height: 35px;
    line-height: 13px;
}

html[lang="el"] a.btn.btn-solid,
html[lang="el"] button.btn.btn-red,
html[lang="el"] .btn.btn-red,
html[lang="el"] button.btn.btn--primary_green,
html[lang="el"] .btn.btn--primary_green,
html[lang="el"] .btn.btn-green,
html[lang="el"] .btn.btn--secondary_red,
html[lang="el"] .btn.btn-blck {
    font-size: 17px;
    line-height: normal;
}

html[lang="el"] .input-group-btn:last-child > .btn, 
html[lang="el"] .input-group-btn:last-child > .btn-group {
    line-height: 38px;
}

/*es*/
html[lang="es"] a.btn,
html[lang="es"] button.btn {
    padding: 8px 14px !important;
}

/*fa*/
html[lang="fa"] .btn-group > .btn {
    position: relative;
    float: right;
}

html[lang="fa"] a.btn.btn-red .fa.fa-pencil-square-o,
html[lang="fa"] a.btn.btn--primary_green .fa.fa-pencil-square-o,
html[lang="fa"] a.btn.btn-green .fa.fa-download,
html[lang="fa"] a.btn.btn--secondary_red .fa.fa-download,
html[lang="fa"] a.btn.btn-red .fa.fa-arrow-right,
html[lang="fa"] a.btn.btn--primary_green .fa.fa-arrow-right,
html[lang="fa"] a.btn.btn-green .fa.fa-arrow-right,
html[lang="fa"] a.btn.btn--secondary_red .fa.fa-arrow-right,
html[lang="fa"] a.btn.btn-red .fa.fa-file-pdf-o,
html[lang="fa"] a.btn.btn--primary_green .fa.fa-file-pdf-o  {
    margin-left: 15px;
    margin-right: 0;
}

html[lang="fa"] a.btn.btn-drop,
html[lang="fa"] button.btn.btn-drop {
    padding: 11px 20px 6px 20px !important;
}

html[lang="fa"] a.btn.btn-red .fa,
html[lang="fa"] a.btn.btn--primary_green .fa,
html[lang="fa"] a.btn.btn-green .fa,
html[lang="fa"] a.btn.btn--secondary_red .fa,
html[lang="fa"] a.btn.btn-black .fa,
html[lang="fa"] button.btn.btn-red .fa,
html[lang="fa"] button.btn.btn-red .fa,
html[lang="fa"] button.btn.btn-red .fa,
html[lang="fa"] button.btn.btn--primary_green .fa {
    margin-right: 0;
}

html[lang="fa"] a.btn.btn-red i.fa.fa-plus-circle {
    margin-left: 15px;
}

html[lang="fa"] a.btn.btn-solid.btn-green,
html[lang="fa"] button.btn.btn-solid.btn-green,
html[lang="fa"] a.btn.btn-solid.btn--secondary_red,
html[lang="fa"] button.btn.btn-solid.btn--secondary_red  {
    font-size: 20px;
}

html[lang="fa"] a.btn.btn-solid,
html[lang="fa"] button.btn.btn-red,
html[lang="fa"] .btn.btn-red,
html[lang="fa"] button.btn.btn--primary_green,
html[lang="fa"] .btn.btn--primary_green,
html[lang="fa"] .btn.btn-blck {
    font-size: 21px;
}

html[lang="fa"] button.btn.btn-solid.btn-gray {
    padding: 6px 0 !important;
}

html[lang="fa"] button.btn.btn-solid.btn-gray small {
    padding-top: 0;
    margin-top: 1px;
}

html[lang="fa"] .main-site.hp-v17 .btn .fa {
    margin-right: 0;
    margin-left: 15px;
}

/*fr*/
html[lang="fr"] a.btn.btn-drop,
html[lang="fr"] button.btn.btn-drop {
    padding: 11px 20px 6px 20px !important;
}

/*jp*/
html[lang="ja"] a.btn.btn-solid,
html[lang="ja"] button.btn.btn-red,
html[lang="ja"] .btn.btn-red,
html[lang="ja"] button.btn.btn--primary_green,
html[lang="ja"] .btn.btn--primary_green,
html[lang="ja"] .btn.btn-blck {
    font-size: 22px;
}

/*kr*/
html[lang="ko"] a.btn,
html[lang="ko"] button.btn {
    padding: 8px 19px !important;
}

html[lang="ko"] a.btn.btn-solid,
html[lang="ko"] button.btn.btn-red,
html[lang="ko"] .btn.btn-red,
html[lang="ko"] button.btn.btn--primary_green,
html[lang="ko"] .btn.btn--primary_green,
html[lang="ko"] .btn.btn-blck {
    font-size: 22px;
}

/*my*/
html[lang="ms"] a.btn.btn-solid,
html[lang="ms"] button.btn.btn-red,
html[lang="ms"] .btn.btn-red,
html[lang="ms"] button.btn.btn--primary_green,
html[lang="ms"] .btn.btn--primary_green,
html[lang="ms"] .btn.btn-blck .smaller-font-22 {
    font-size: 22px;
}

/*ph*/
html[lang="ph"] a.btn.btn-solid,
html[lang="ph"] button.btn.btn-red,
html[lang="ph"] .btn.btn-red,
html[lang="ph"] button.btn.btn--primary_green,
html[lang="ph"] .btn.btn--primary_green,
html[lang="ph"] .btn.btn-blck {
    letter-spacing: 0 !important;
}

html[lang="ph"] a.btn,
html[lang="ph"] button.btn {
    padding: 8px 19px !important;
}

/*pl*/
html[lang="pl"] a.btn,
html[lang="pl"] button.btn {
    padding: 8px 11px !important;
}

/*ru*/
html[lang="ru"] a.btn.btn-solid,
html[lang="ru"] button.btn.btn-red,
html[lang="ru"] .btn.btn-red,
html[lang="ru"] button.btn.btn--primary_green,
html[lang="ru"] .btn.btn--primary_green,
html[lang="ru"] .btn.btn-blck {
    font-size: 22px;
    letter-spacing: 0px !important;
}

html[lang="ru"] a.btn.btn-drop,
html[lang="ru"] button.btn.btn-drop {
    padding: 11px 20px 6px 20px !important;
}

/*th*/
html[lang="th"] a.btn.btn-drop,
html[lang="th"] button.btn.btn-drop {
    padding: 11px 20px 6px 20px !important;
}

html[lang="th"] a.btn,
html[lang="th"] button.btn {
    padding: 8px 19px !important;
}

html[lang="th"] a.btn.btn-solid,
html[lang="th"] button.btn.btn-red,
html[lang="th"] .btn.btn-red,
html[lang="th"] button.btn.btn--primary_green,
html[lang="th"] .btn.btn--primary_green,
html[lang="th"] .btn.btn-blck {
    font-size: 24px;
}

html[lang="th"] a.btn.btn-solid,
html[lang="th"] button.btn.btn-red,
html[lang="th"] .btn.btn-red,
html[lang="th"] button.btn.btn--primary_green,
html[lang="th"] .btn.btn--primary_green,
html[lang="th"] .btn.btn-blck .smaller-font-22 {
    font-size: 22px;
}

html[lang="th"].main-site.hp-v17 .btn-red small,
html[lang="th"].main-site.hp-v17 .btn--primary_green small,
html[lang="th"].main-site.hp-v17 .btn-green small,
html[lang="th"].main-site.hp-v17 .btn--secondary_red small,
html[lang="th"].main-site.hp-v17 .btn-gray small {
    margin-top: 8px;
}

/*vn*/
html[lang="vn"] a.btn.btn-solid,
html[lang="vn"] button.btn.btn-red,
html[lang="vn"] .btn.btn-red,
html[lang="vn"] button.btn.btn--primary_green,
html[lang="vn"] .btn.btn--primary_green,
html[lang="vn"] button.btn.btn-green,
html[lang="vn"] .btn.btn-green,
html[lang="vn"] button.btn.btn--secondary_red,
html[lang="vn"] .btn.btn--secondary_red,
html[lang="vn"] .btn.btn-blck {
    font-size: 19px;
}

/*Media Queries*/
@media (min-width:768px) {
    .btn-group span {
        width: 100%;
        padding-left: 117px;
        display: block;
    }

    /* rtl languages */
    .rtl-lang .btn-group span {
        padding-left: 0;
        padding-right: 115px;
    }

    html[lang="fa"] .btn-group span {
        padding-left: 0;
        padding-right: 115px;
    }
}

@media (max-width:1290px) {
    a.btn.btn-big,
    button.btn.btn-big {
        font-size: 22px;
    }
}

@media (max-width:991px) {
    .webinars .btn {
        max-width: 300px;
    }
}

@media (max-width:510px) {
    .btn.btn-block {
        max-width: 350px;
    }
}