/******   Bebasneue extended  ******/
@font-face {
  font-family: "BebasExt"; /*bold_ext*/
  src: url("https://cloud.xm-cdn.com/static/fonts/bebasneue_ext/bebasneue_bold-webfont.ttf") format("truetype"),
  url("https://cloud.xm-cdn.com/static/fonts/bebasneue_ext/bebasneue_bold-webfont.woff") format("woff"),
  url("https://cloud.xm-cdn.com/static/fonts/bebasneue_ext/bebasneue_bold-webfont.eot") format("embedded-opentype"),
  url("https://cloud.xm-cdn.com/static/fonts/bebasneue_ext/bebasneue_bold-webfont.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "BebasExt";/*regular_ext*/
  src: url("https://cloud.xm-cdn.com/static/fonts/bebasneue_ext/bebasneue_regular-webfont.ttf") format("truetype"),
  url("https://cloud.xm-cdn.com/static/fonts/bebasneue_ext/bebasneue_regular-webfont.woff") format("woff"),
  url("https://cloud.xm-cdn.com/static/fonts/bebasneue_ext/bebasneue_regular-webfont.eot") format("embedded-opentype"),
  url("https://cloud.xm-cdn.com/static/fonts/bebasneue_ext/bebasneue_regular-webfont.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BebasExt";/*book_ext*/
  src: url("https://cloud.xm-cdn.com/static/fonts/bebasneue_ext/bebasneue_book-webfont.ttf") format("truetype"),
  url("https://cloud.xm-cdn.com/static/fonts/bebasneue_ext/bebasneue_book-webfont.woff") format("woff"),
  url("https://cloud.xm-cdn.com/static/fonts/bebasneue_ext/bebasneue_book-webfont.eot") format("embedded-opentype"),
  url("https://cloud.xm-cdn.com/static/fonts/bebasneue_ext/bebasneue_book-webfont.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

/******   Bebasneue   ******/
@font-face {
  font-family: "Bebas";/*bold*/
  src:  url("	https://cloud.xm-cdn.com/static/fonts/bebasneue/bebasneue_bold-webfont.ttf") format("truetype"),
  url("https://cloud.xm-cdn.com/static/fonts/bebasneue/bebasneue_bold-webfont.woff") format("woff"),
  url("https://cloud.xm-cdn.com/static/fonts/bebasneue/bebasneue_bold-webfont.eot") format("embedded-opentype"),
  url("https://cloud.xm-cdn.com/static/fonts/bebasneue/bebasneue_bold-webfont.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Bebas";/*regular*/
  src:  url("https://cloud.xm-cdn.com/static/fonts/bebasneue/bebasneue_regular-webfont.ttf") format("truetype"),
  url("https://cloud.xm-cdn.com/static/fonts/bebasneue/bebasneue_regular-webfont.woff") format("woff"),
  url("https://cloud.xm-cdn.com/static/fonts/bebasneue/bebasneue_regular-webfont.eot") format("embedded-opentype"),
  url("https://cloud.xm-cdn.com/static/fonts/bebasneue/bebasneue_regular-webfont.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Bebas";/*book*/
  src:  url("https://cloud.xm-cdn.com/static/fonts/bebasneue/bebasneue_book-webfont.ttf") format("truetype"),
  url("https://cloud.xm-cdn.com/static/fonts/bebasneue/bebasneue_book-webfont.woff") format("woff"),
  url("https://cloud.xm-cdn.com/static/fonts/bebasneue/bebasneue_book-webfont.eot") format("embedded-opentype"),
  url("https://cloud.xm-cdn.com/static/fonts/bebasneue/bebasneue_book-webfont.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

/****   Roboto Condensed   ****/
@font-face {
  font-family: "RobCond";
  src: url("https://cloud.xm-cdn.com/static/fonts/robotoCond/RobotoCondensed-Light.eot");
  src: url("https://cloud.xm-cdn.com/static/fonts/robotoCond/RobotoCondensed-Light.eot?#iefix") format("embedded-opentype"),
  url("https://cloud.xm-cdn.com/static/fonts/robotoCond/RobotoCondensed-Light.woff") format("woff"),
  url("https://cloud.xm-cdn.com/static/fonts/robotoCond/RobotoCondensed-Light.ttf") format("truetype"),
  url("https://cloud.xm-cdn.com/static/fonts/robotoCond/RobotoCondensed-Light.svg#RobCond") format("svg");
  font-weight: 300;
  font-style: normal;
  font-variant:normal;
}
@font-face {
  font-family: "RobCond";
  src: url("https://cloud.xm-cdn.com/static/fonts/robotoCond/RobotoCondensed-Regular.eot");
  src: url("https://cloud.xm-cdn.com/static/fonts/robotoCond/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"),
  url("https://cloud.xm-cdn.com/static/fonts/robotoCond/RobotoCondensed-Regular.woff") format("woff"),
  url("https://cloud.xm-cdn.com/static/fonts/robotoCond/RobotoCondensed-Regular.ttf") format("truetype"),
  url("https://cloud.xm-cdn.com/static/fonts/robotoCond/RobotoCondensed-Regular.svg#RobCond") format("svg");
  font-weight: 400;
  font-style: normal;
  font-variant:normal;
}
@font-face {
  font-family: "RobCond";
  src: url("https://cloud.xm-cdn.com/static/fonts/robotoCond/RobotoCondensed-Bold.eot");
  src: url("https://cloud.xm-cdn.com/static/fonts/robotoCond/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"),
  url("https://cloud.xm-cdn.com/static/fonts/robotoCond/RobotoCondensed-Bold.woff") format("woff"),
  url("https://cloud.xm-cdn.com/static/fonts/robotoCond/RobotoCondensed-Bold.ttf") format("truetype"),
  url("https://cloud.xm-cdn.com/static/fonts/robotoCond/RobotoCondensed-Bold.svg#RobCond") format("svg");
  font-weight: 700;
  font-style: normal;
  font-variant:normal;
}

/****   Roboto  ****/
@font-face {
  font-family: "Roboto";
  src: url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Thin-webfont.eot");
  src: url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"),
  url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Thin-webfont.woff") format("woff"),
  url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Thin-webfont.ttf") format("truetype"),
  url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Thin-webfont.svg#RobCond#RobCond") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Light-webfont.eot");
  src: url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"),
  url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Light-webfont.woff") format("woff"),
  url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Light-webfont.ttf") format("truetype"),
  url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Light-webfont.svg#RobCond#RobCond") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Regular-webfont.eot");
  src: url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"),
  url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Regular-webfont.woff") format("woff"),
  url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Regular-webfont.ttf") format("truetype"),
  url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Regular-webfont.svg#RobCond#RobCond") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Medium-webfont.eot");
  src: url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"),
  url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Medium-webfont.woff") format("woff"),
  url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Medium-webfont.ttf") format("truetype"),
  url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Medium-webfont.svg#RobCond") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Bold-webfont.eot");
  src: url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"),
  url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Bold-webfont.woff") format("woff"),
  url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Bold-webfont.ttf") format("truetype"),
  url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Bold-webfont.svg#RobCond") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Black-webfont.eot");
  src: url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"),
  url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Black-webfont.woff") format("woff"),
  url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Black-webfont.ttf") format("truetype"),
  url("https://cloud.xm-cdn.com/static/fonts/roboto/Roboto-Black-webfont.svg#RobCond") format("svg");
  font-weight: 900;
  font-style: normal;
}

/****   Hind Siliguri   ****/
@font-face {
  font-family: "HindSiliguri";
  src: url("https://cloud.xm-cdn.com/static/fonts/hind_siliguri/hindsiliguri-light-webfont.woff") format("woff2"),
  url("https://cloud.xm-cdn.com/static/fonts/hind_siliguri/hindsiliguri-light-webfont.woff") format("woff"),
  url("https://cloud.xm-cdn.com/static/fonts/hind_siliguri/hindsiliguri-light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HindSiliguri";
  src: url("https://cloud.xm-cdn.com/static/fonts/hind_siliguri/hindsiliguri-regular-webfont.woff") format("woff2"),
  url("https://cloud.xm-cdn.com/static/fonts/hind_siliguri/hindsiliguri-regular-webfont.woff") format("woff"),
  url("https://cloud.xm-cdn.com/static/fonts/hind_siliguri/hindsiliguri-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HindSiliguri";
  src: url("https://cloud.xm-cdn.com/static/fonts/hind_siliguri/hindsiliguri-bold-webfont.woff") format("woff2"),
  url("https://cloud.xm-cdn.com/static/fonts/hind_siliguri/hindsiliguri-bold-webfont.woff") format("woff"),
  url("https://cloud.xm-cdn.com/static/fonts/hind_siliguri/hindsiliguri-bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}