/********************************   dis classes   *********************************/
.dis5 {
    height: 5px;
    clear: both;
}

.dis10 {
    height: 10px;
    clear: both;
}

.dis15 {
    height: 15px;
    clear: both;
}

.dis20 {
    height: 20px;
    clear: both;
}

.dis25 {
    height: 25px;
    clear: both;
}

.dis30 {
    height: 30px;
    clear: both;
}

.dis35 {
    height: 35px;
    clear: both;
}

.dis40 {
    height: 40px;
    clear: both;
}

.dis45 {
    height: 45px;
    clear: both;
}

.dis50 {
    height: 50px;
    clear: both;
}

.dis55 {
    height: 55px;
    clear: both;
}

.dis60 {
    height: 60px;
    clear: both;
}

.dis65 {
    height: 65px;
    clear: both;
}

.dis70 {
    height: 70px;
    clear: both;
}

.dis75 {
    height: 75px;
    clear: both;
}

.dis80 {
    height: 80px;
    clear: both;
}

.dis85 {
    height: 85px;
    clear: both;
}

.dis90 {
    height: 90px;
    clear: both;
}

.dis95 {
    height: 95px;
    clear: both;
}

.dis100 {
    height: 100px;
    clear: both;
}

/********************************   Width classes   *********************************/
.width5 {
    width: 5%;
}

.width10 {
    width: 10%;
}

.width15 {
    width: 15%;
}

.width20 {
    width: 20%;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

/********************************   Align classes   *********************************/
.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

.left {
    float: left;
}

.rtl-lang .left,
html[lang="fa"] .left {
    float: right;
}

.right {
    float: right;
}

.rtl-lang .right,
html[lang="fa"] .right {
    float: left;
}

.rtl-lang .pull-right,
html[lang="fa"] .pull-right {
    float: left !important;
}

.rtl-lang .pull-left,
html[lang="fa"] .pull-left {
    float: right !important;
}

.center {
    vertical-align: middle;
}

.img-center {
    margin: 0 auto;
}

.ltr {
    direction: ltr !important;
}

.rtl-lang {
    direction: rtl !important;
}

.center-block {
    float: none !important
}

.center-text {
    text-align: center !important;
}

.text-center {
    text-align: center !important;
}

.col-top {
    vertical-align: top;
}

.col-middle {
    vertical-align: middle;
}

.col-bottom {
    vertical-align: bottom;
}

.text-right {
    text-align: right;
}

.rtl-lang .text-left,
html[lang="fa"] .text-left {
    text-align: right;
}

/********************************   Padding Classes   *******************************/
.padl5 {
    padding-left: 5px;
}

.padl10 {
    padding-left: 10px;
}

.padl15 {
    padding-left: 15px;
}

.rtl-lang .padl15,
html[lang="fa"] .padl15 {
    padding-right: 15px;
}

.padl20 {
    padding-left: 25px;
}

.padl25 {
    padding-left: 25px;
}

/********************************   Margin Classes   ********************************/
.no_margin {
    margin: 0px !important;
}

.top5 {
    margin-top: 5px !important;
}

.top10 {
    margin-top: 10px !important;
}

.top15 {
    margin-top: 15px !important;
}

.top20 {
    margin-top: 20px !important;
}

.top25 {
    margin-top: 25px !important;
}

.top30 {
    margin-top: 30px !important;
}

.top35 {
    margin-top: 35px !important;
}

.top40 {
    margin-top: 40px !important;
}

.top45 {
    margin-top: 45px !important;
}

.top50 {
    margin-top: 50px !important;
}

.top55 {
    margin-top: 55px !important;
}

.top60 {
    margin-top: 60px !important;
}

.top65 {
    margin-top: 65px !important;
}

.top70 {
    margin-top: 70px !important;
}

.top75 {
    margin-top: 75px !important;
}

.top80 {
    margin-top: 80px !important;
}

.top85 {
    margin-top: 85px !important;
}

.top90 {
    margin-top: 90px !important;
}

.top95 {
    margin-top: 95px !important;
}

.top100 {
    margin-top: 100px !important;
}

.top115 {
    margin-top: 115px !important;
}

.top150 {
    margin-top: 150px !important;
}

.top170 {
    margin-top: 170px !important;
}

.top190 {
    margin-top: 190px !important;
}

.top305 {
    margin-top: 305px !important
}

.bottom40 {
    margin-top: 40px !important;
}

.bottom20 {
    margin-bottom: 20px !important;
}

.bottom15 {
    margin-bottom: 15px !important;
}

.bottom5 {
    margin-bottom: 5px !important;
}

.right10 {
    margin-right: 10px !important;
}

.rtl-lang .right10,
html[lang="fa"] .right10 {
    margin-right: 0 !important;
    margin-left: 10px !important;
}

.right15 {
    margin-right: 15px !important;
}

.right30 {
    margin-right: 30px !important;
}

.rtl-lang .right30,
html[lang="fa"] .right30 {
    margin-right: 0 !important;
    margin-left: 30px !important;
}

.reset {
    margin: 0;
    padding: 0;
}

.left30 {
    margin-left: 30px !important;
}


/********************************   Text Color Classes   ********************************/
.green {
    color: #29a643 !important;
}

.red {
    color: #d72027;
}

.white {
    color: #fff !important;
}

.black {
    color: #000000;
}

.lgray {
    color: #cccccc;
}
.dgray{
    color: #4A4A4A;
}

/********************************   Background Color Classes   ********************************/
.bg-gray {
    background-color: #f1f1f1;
}

.gray {
    background-color: #f7f7f7;
}

.bg-black {
    background-color: #000;
}

/********************************   Text Style Classes   ********************************/
.text-underline {
    text-decoration: underline !important;
}

.middle80 {
    line-height: 80px;
}

.lowercase {
    text-transform: lowercase;
}

.lowercase:first-letter {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.bold {
    font-weight: bold !important;
}

.lineh13 {
    line-height: 1.3;
}

.border {
    border: 1px solid #dddddd;
    padding: 20px;
}

.no-border {
    border: none;
}

.noborder {
    border: none !important;
}

.pointer {
    cursor: pointer !important;
}

.grabbing {
    cursor: grabbing;
}

.dataTB {
    clear: both;
}

.top-5 {
    top: -5px !important;
}

.inline-block {
    display: inline-block !important;
}

.fs14 {
    font-size: 14px;
}

.fs35 {
    font-size: 35px;
}

.fs40 {
    font-size: 40px;
}

.fs50 {
    font-size: 50px;
}

.fs55 {
    font-size: 55px;
}

.fs100 {
    font-size: 100px;
}

.fs110 {
    font-size: 110px;
}

.fs150 {
    font-size: 150px;
}

.fs200 {
    font-size: 200px;
}

.test-class {
    display: none;
}

.under {
    position: relative;
}

.under:before {
    content: '';
    width: 30px;
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ccc;
}

html[lang="fr"] .btn.font21 {
    font-size: 21px !important;
}

/********************************   XM Fonts   *******************************/
.xmf-r90 {
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.xmf-r180 {
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.xmf-r270 {
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.xmf-hflip {
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.xmf-vflip {
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

:root .xmf-r90,
:root .xmf-r180,
:root .xmf-r270,
:root .xmf-hflip,
:root .xmf-vflip {
    filter: none;
}

/*font size*/
.xmf-xs {
    font-size: 25px;
}

.xmf-sm {
    font-size: 50px;
}

.xmf-md {
    font-size: 80px;
}

.xmf-lg {
    font-size: 100px;
}

.xmf-xl {
    font-size: 150px;
}

/* Color (default #333333)================ */
.xmf-bordered,
.xmf-rounded,
.xmf-filled {
    padding: 10px;
    padding: 0.2em;
    border: solid 2px #333333;
    border: solid 0.025em #333333;
}

.xmf-rounded {
    border-radius: 50%;
}

.xmf-filled {
    background-color: #333333;
    color: #ffffff !important;
}

/* Color (red #d51820)================ */
.xmf-bordered.red,
.xmf-rounded.red,
.xmf-filled.red {
    border-color: #d51820;
}

.xmf-filled.red {
    background-color: #d51820;
}

/* Color (green #29a643)================ */
.xmf-bordered.green,
.xmf-rounded.green,
.xmf-filled.green {
    border-color: #29a643;
}

.xmf-filled.green {
    background-color: #29a643;
}

/* Color (lgray #cccccc)================ */
.xmf-bordered.lgray,
.xmf-rounded.lgray,
.xmf-filled.lgray {
    border-color: #cccccc;
}

.xmf-filled.lgray {
    background-color: #cccccc;
}

/* Color (black #000000)================ */
.xmf-bordered.black,
.xmf-rounded.black,
.xmf-filled.black {
    border-color: #000000;
}

.xmf-filled.black {
    background-color: #000000;
}

/*Media Queries*/
@media(min-width:992px) {
   .text-md-left {
       text-align: left;
   }

   .rtl-lang .text-md-left,
   html[lang="fa"] .text-md-left {
       text-align: left;
   }
}