html {
    background-color: white;    /*-webkit-font-smoothing: antialiased!important;
                                                  -moz-osx-font-smoothing: grayscale!important;*/
}

section {
    margin-bottom: 40px;
}

.main-site.hp-v17 section {
    margin: 0 auto;
}

.layout {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #222;
}

.site-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
}

.row > *:before,
.row > *:after {
    content: " ";
    display: table;
}

.row > *:after {
    clear: both;
}

/* link-like class */
a,.link-like {
    outline: none !important;    /* removing outline in Mozilla */
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #d51820;
    -webkit-transform: translateZ(0px);
    cursor: pointer;
}

a:focus,
a:visited,
.link-like:focus,
.link-like:visited {
    color: #d51820;
}

a:hover {
    text-decoration: underline;
    color: #d51820;
}

.link-like:hover {
    color: #d51820;
    text-decoration: none;
}


span.red,
small.red,
a.red,
.red {
    color: #d51820 !important;
    text-decoration: none !important;
}

a.black,
.black {
    color: #444 !important;
    text-decoration: none !important;
}

a.black:hover {
    color: #d51820;
}

h4 a {
    color: #d51820 !important;
}

h4 a:hover {
    color: #000 !important;
}

a.white,
.white {
    color: #fff !important;
    text-decoration: none !important;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #e2e2e2;
}

hr.red {
    margin: 0;
    padding: 0;
    border-top: 3px solid #d51820 !important;
}

hr.sb {
    margin-left: -15px;
}

hr.black {
    border-top: 1px solid #000;
    margin: 5px 0;
}

hr.bonus {
    border-top: 1px solid #000;
    margin: 25px 0;
}

sup {
    top: -0.25em;
}

.mArea hr {
    margin: 12px 0;
}

.hr_line {
    width: 13%;
    float: left;
    border-color: #b7b7b7;
}

header .cursorNone {
    cursor: default;
    pointer-events: none;
}

.hp-v17 article p {
    margin-top: 20px;
}

.clear {
    width: 100%;
    clear: both;
    float: left;
}
/*apply to list*/
.red-list-style {
    color: #d51820;
    margin-bottom: 0;
}

.red-list-style span {
    color: #333333;
}


.box-borderline {
    display: block;
    border-left: 4px solid #d51820;
    padding-left: 25px;
    margin-bottom: 25px;
}

.rtl-lang .box-borderline,
html[lang="fa"] .box-borderline {
    padding-left: 0;
    padding-right: 25px;
    border-left: 0;
    border-right: 4px solid #d51820;
}

#research-wrap .line,
.main-site.hp-v17 .line-link {
    position: relative;
    width: 100%;
}

.main-site.hp-v17 .line-link {
    font-size: 13px;
}

#research-wrap .line:before,
.main-site.hp-v17 .line-link:before {
    position: absolute;
    top: 11px;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

#research-wrap .line > a,
.main-site.hp-v17 .line-link > a {
    position: relative;
    background-color: #fff;
    padding-left: 10px;
    z-index: 1;
    float: right;
}

.rtl-lang.main-site.hp-v17 .line-link > a,
html[lang="fa"] .main-site.hp-v17 .line-link > a {
    float: left;
}

#research-wrap .line > a > .fa,
.main-site.hp-v17 .line-link > a > .fa {
    margin-right: 5px;
}

.rtl-lang.main-site.hp-v17 .line-link > a > .fa,
html[lang="fa"] .main-site.hp-v17 .line-link > a > .fa {
    margin-left: 15px;
    margin-right: 5px;
}

.research h2  img {
    margin-right: 15px;
}

#research-team figure .border-gray {
    border: 3px solid #e4e4e4;
}

#research-team #florentiades,
#research-team #selena,
#research-team #raffi,
#research-team #magie,
#research-team #jane {
    padding-top: 100px;
    margin-top: -100px;
}

.avatar {
    display: block;
    border: 1px solid #000;
}

.person {
    position: relative;
    display: block;
    width: 31px;
    height: 35px;
    margin: 0 auto;
    text-align: center;
    background: url('https://cloud.xm-cdn.com/static/common/icons/person.png?v=dea78770693bdc58942bda2fc7858f23') no-repeat 0 0;
}

.s-icon {
    float: left;
    margin-right: 10px;
}

.rtl-lang .s-icon,
html[lang="fa"] .s-icon {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}

span.graytext {
    color: #6b6b6b;
}

.center-box {
    float: none !important;
    margin: 0 auto !important;
}

.blocktest {
    display: block;
}

.cancel {
    color: #d51820;
    cursor: pointer;
}

/* columns of same height styles */
.container-xs-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
}

.row-xs-height {
    display: table;
    width: 100%;
}

.col-xs-height {
    display: table-cell;
    float: none !important;
}

.hp-v17 .border-title.reset {
    margin: 0;
}

.hp-v17 .border-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    border: 2px solid #cbcbcb !important;
    color: #9d9d9d;
    padding: 12px;
    text-align: center;
    height: 45px;
    margin-bottom: 30px;
}

.subtext:not(.fa) {
    font-size: 13px;
    color: #999;
}

.hp-v17 .subtext {
    color: #000;
}

.confirmation h3 {
    font-size: 30px;
    color: #000;
    margin-bottom: 5px;
}

.confirmation h4 {
    font-size: 22px;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
}

.confirmation h5 {
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
}

.confirmation .line {
    border-left: 4px solid #d51820;
    padding-left: 15px;
}

.rtl-lang .confirmation .line,
html[lang="fa"] .confirmation .line {
    border-left: 0;
    padding-left: 0;
    border-right: 4px solid #D51820;
    padding-right: 15px;
}

.confirmation .vertical-line h5,
.confirmation .vertical-line p {
    border-left: 4px solid #d51820;
    padding-left: 15px;
    margin-bottom: 0;
    margin-top: 0;
}

.rtl-lang .confirmation .vertical-line h5,
.rtl-lang .confirmation .vertical-line p {
    border-left: 0;
    border-right: 4px solid #d51820;
    padding-left: 0;
    padding-right: 15px;
}

.confirmation .vertical-line p {
    padding-top: 10px;
}

.confirmation .vertical-line .col-md-12:first-child p {
    padding-top: 0;
}

.webinars .photos span {
    margin-left: 10px;
}

.webinars .team img {
    display: block;
    width: 243px;
    height: 245px;
    margin: 15px auto 30px auto;
    background-color: #eaeaea;
}

.not-applicable .block > * {
    opacity: 0.5;
}

.title-block-wrap {
    border-width: 1px;
    border-color: #cbcbcb;
    height: 45px;
    font-size: 16px;
    font-weight: 700;
    line-height: 45px;
    color: #888;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.rtl-lang .title-block-wrap {
    font-size: 14px;
}

.border.title-block-wrap {
    border: 1px solid #cdcdcd;
    padding: 0;
}

html[lang="el"] .main-site.hp-v17.partners .title-block-wrap {
    font-size: 14px;
}

.title-block-wrap > a {
    height: 45px;
    line-height: normal !important;
}

.up15 {
    position: relative;
    top: -15px !important;
}

.indices ul.arrows {
    float: left;
}

.centered {
    text-align: center;
    margin-bottom: 20px;
}

.red_title {
    color: #D51820;
    margin-bottom: 20px;
}

/***   Search page   ***/
.search-keyword {
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
    color: #d51820;
}

h2 .search-results,
p .search-results {
    font-weight: bold;
}

.search-showing {
    color: #333;
    font-size: 19px;
    font-style: italic;
    font-weight: 300;
    line-height: 40px;
}

.research h3 {
    font-size: 24px;
    line-height: 26px;
}

.research .video-overview h3 {
    font-size: 22px;
}

.about-xm h2.big {
    font-size: 43px;
    font-weight: bold;
    margin-bottom: 10px;
}

html[lang="ur"] .about-xm h2.big {
    font-size: 38px;
}

.platforms-center h2 {
    margin: 0;
    padding: 0;
}

.platforms-center h3 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.platforms-center h4 {
    font-size: 20px;
    color: #000;
    font-weight: 700 !important;
}

.anchor {
    height: 38px;
    margin-top: -38px;
}

.anchor-tag {
    height: 100px;
    margin-top: -100px;
}

.main-site.hp-v17 .risk-wrap {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
}

.risk-with-btn .risk-text {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}

.main-site.hp-v17 .platforms-content .main-title {
    display: block;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    text-align: center;
}

.main-site.hp-v17 .platforms-content .subtext {
    font-size: 14px;
    text-align: center;
}

.main-site.hp-v17 .platforms-content .btn {
    font-size: 24px;
    padding: 15.5px 80px !important;
}

html[lang="el"] .main-site.hp-v17 .platforms-content .btn {
    font-size: 22px;
}

.main-site.hp-v17 .hp-tabs-content .main-title {
    display: block;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    text-align: center;
}

.section {
    padding: 0;
    background-color: #fff;
    position: relative;
}

img.size-thumbnail {
    border: 1px solid #ccc;
    float: left;
    margin: 0 8px 15px 0;
    padding: 3px;
}

.rtl-lang img.size-thumbnail,
html[lang="fa"] img.size-thumbnail {
    float: right;
    margin: 0 0 15px 8px;
}

#economic-calendar {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    height: 930px;
}

.red-number {
    font-size: 70px;
    font-style: normal;
    font-weight: 300;
    border: none;
    color: #d72027;
    margin: 0;
    padding: 4px 0 0 0;
    white-space: nowrap;
    line-height: 97px;
}

.other_tin_text {
    font-size: 13px;
}

/*registration form*/
.xmApi table.plain,
.xmApi table.plain th,
.xmApi table.plain td {
    border: 1px solid #000 !important;
}

.xmApi table.plain th {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 30px;
}

.xmApi table.plain td {
    color: #333;
    font-size: 16px;
    padding: 3px;
}

/*End - registration form*/

/*single-post page share icons*/
.partners .sharethis-inline-share-buttons {
    padding-left: 15px;
    padding-right: 15px;
}

.rtl-lang .partners .sharethis-inline-share-buttons,
html[lang="fa"] .partners .sharethis-inline-share-buttons {
    text-align: right !important;
}

/*End - single-post page share icons*/

/*kid disclosure img*/
.kid-warning-img {
    position: relative;
    max-width: 341px;
    border: 2px solid #000;
    background-color: #3296FF;
    padding: 7px;
    color: #fff;
}

.kid-number-box ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.kid-number-box ul li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 3px solid #fff;
    font-size: 28px;
    font-weight: 700;
}

.kid-number-box ul li.num-warning {
    background-color: #FFFF00;
    color: #000;
}

.kid-warning-img span {
    font-size: 12px;
}

.kid-warning-parag {
    padding-left: 60px;
    background-size: 50px 50px;
    background-position: left;
    background-repeat: no-repeat;
}

.rtl-lang .kid-warning-parag,
html[lang="fa"] .kid-warning-parag {
    padding-left: 0;
    padding-right: 60px;
    background-position: right;
}

.kid-warning-img p {
    font-size: 10px;
    text-align: justify;
    margin-bottom: 0;
    line-height: 1.1;
}
/*End - kid disclosure img*/
/* Line Arrow */
.line-arrow {
    position: relative;
    border-top: 1px solid #ccc;
    width: 100%;
    margin-bottom: 15px;
    float: none;
}

.line-arrow::before,
.line-arrow::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    margin: 0 auto;
    border-style: solid;
    z-index: 1;
    border-width: 13px 22px 0 22px;
    margin-left: -22px;
}

.line-arrow::before {
    border-color: #cccccc transparent transparent transparent;
    top: 0;
}

.line-arrow::after {
    border-color: #ffffff transparent transparent transparent;
    top: -1px;
}
/*End - Line Arrow */
/* Title with Brackets */
.bracket-title {
    position: relative;
    padding: 10px 20px;
}

.bracket-title::before,
.bracket-title::after {
    content: ' ';
    border: 4px solid #d51820;
    position: absolute;
    top: 0;
    height: 100%;
    width: 18px;
}

.bracket-title::before {
    left: 0;
    border-right: 0;
}

.bracket-title::after {
    right: 0;
    border-left: 0;
}
/* End - Title with Brackets */
/* Photo Gallery rtl */
.tos-wrapper {
    direction: ltr;
}
/* End - Photo Gallery rtl */
/*ar*/
body.rtl-lang,
html[lang="fa"] body {
    direction: rtl;
}

.rtl-lang .col-sm-1,
.rtl-lang .col-sm-10,
.rtl-lang .col-sm-11,
.rtl-lang .col-sm-12,
.rtl-lang .col-sm-2,
.rtl-lang .col-sm-3,
.rtl-lang .col-sm-4,
.rtl-lang .col-sm-5,
.rtl-lang .col-sm-6,
.rtl-lang .col-sm-7,
.rtl-lang .col-sm-8,
.rtl-lang .col-sm-9,
html[lang="fa"] .col-sm-1,
html[lang="fa"] .col-sm-10,
html[lang="fa"] .col-sm-11,
html[lang="fa"] .col-sm-12,
html[lang="fa"] .col-sm-2,
html[lang="fa"] .col-sm-3,
html[lang="fa"] .col-sm-4,
html[lang="fa"] .col-sm-5,
html[lang="fa"] .col-sm-6,
html[lang="fa"] .col-sm-7,
html[lang="fa"] .col-sm-8,
html[lang="fa"] .col-sm-9 {
    float: none;
}

.rtl-lang .col-xs-1,
.rtl-lang .col-xs-10,
.rtl-lang .col-xs-11,
.rtl-lang .col-xs-12,
.rtl-lang .col-xs-2,
.rtl-lang .col-xs-3,
.rtl-lang .col-xs-4,
.rtl-lang .col-xs-5,
.rtl-lang .col-xs-6,
.rtl-lang .col-xs-7,
.rtl-lang .col-xs-8,
.rtl-lang .col-xs-9,
html[lang="fa"] .col-xs-1,
html[lang="fa"] .col-xs-10,
html[lang="fa"] .col-xs-11,
html[lang="fa"] .col-xs-12,
html[lang="fa"] .col-xs-2,
html[lang="fa"] .col-xs-3,
html[lang="fa"] .col-xs-4,
html[lang="fa"] .col-xs-5,
html[lang="fa"] .col-xs-6,
html[lang="fa"] .col-xs-7,
html[lang="fa"] .col-xs-8,
html[lang="fa"] .col-xs-9 {
    float: right;
}

.rtl-lang .col-xs-offset-2,
html[lang="fa"] .col-xs-offset-2 {
    margin-left: 0;
    margin-right: 16.66666667%;
}

.rtl-lang .fa-long-arrow-right:before,
html[lang="fa"] .fa-long-arrow-right:before {
    content: "\f177";
}

.rtl-lang .fa-caret-right:before,
html[lang="fa"] .fa-caret-right:before {
    content: "\f0d9";
}

.rtl-lang .fa-arrow-right:before,
html[lang="fa"] .fa-arrow-right:before {
    content: "\f060";
}

.rtl-lang .btn.nextprev .fa-arrow-right:before,
html[lang="fa"] .btn.nextprev .fa-arrow-right:before {
    content: "\f061";
}

.rtl-lang .date-navigation .fa-chevron-left:before,
html[lang="fa"] .date-navigation .fa-chevron-left:before {
    content: "\f054";
}

.rtl-lang .date-navigation .fa-chevron-right:before,
html[lang="fa"] .date-navigation .fa-chevron-right:before {
    content: "\f053";
}

.rtl-lang dd,
html[lang="fa"] dd {
    margin-right: 0;
}

/*cn*/
html[lang="zh_CN"] em {
    font-style: normal;
}

/*Media Queries*/
@media (min-width:768px) {
    .bracket-title {
        padding: 10px 30px;
    }

    .rtl-lang .col-sm-1,
    .rtl-lang .col-sm-10,
    .rtl-lang .col-sm-11,
    .rtl-lang .col-sm-12,
    .rtl-lang .col-sm-2,
    .rtl-lang .col-sm-3,
    .rtl-lang .col-sm-4,
    .rtl-lang .col-sm-5,
    .rtl-lang .col-sm-6,
    .rtl-lang .col-sm-7,
    .rtl-lang .col-sm-8,
    .rtl-lang .col-sm-9,
    html[lang="fa"] .col-sm-1,
    html[lang="fa"] .col-sm-10,
    html[lang="fa"] .col-sm-11,
    html[lang="fa"] .col-sm-12,
    html[lang="fa"] .col-sm-2,
    html[lang="fa"] .col-sm-3,
    html[lang="fa"] .col-sm-4,
    html[lang="fa"] .col-sm-5,
    html[lang="fa"] .col-sm-6,
    html[lang="fa"] .col-sm-7,
    html[lang="fa"] .col-sm-8,
    html[lang="fa"] .col-sm-9 {
        float: right;
    }

    .rtl-lang .col-sm-offset-0,
    html[lang="fa"] .col-sm-offset-0 {
        margin-left: 0;
        margin-right: 0;
    }

    .rtl-lang .col-sm-offset-1,
    html[lang="fa"] .col-sm-offset-1 {
        margin-left: 0;
        margin-right: 8.33333333%;
    }

    .rtl-lang .col-sm-offset-3,
    html[lang="fa"] .col-sm-offset-3 {
        margin-left: 0;
        margin-right: 25%;
    }
    
    .rtl-lang .col-sm-offset-4,
    html[lang="fa"] .col-sm-offset-4 {
        margin-left: 0;
        margin-right: 33.33333333%;
    }

    .rtl-lang .col-sm-pull-6,
    html[lang="fa"] .col-sm-pull-6 {
        left: 50%;
        right: auto;
    }

    .rtl-lang .col-sm-push-6,
    html[lang="fa"] .col-sm-push-6 {
        right: 50%;
        left: auto;
    }

}

@media(min-width:992px) {
    .platforms-center.wrap {
        padding: 0 15px;
    }

    .platforms-center [class*="col-md-4"] {
        padding: 0 50px;
        border-right: 1px solid #e2e2e2;
    }

    .platforms-center [class*="col-md-4"]:last-child {
        border-right: 0;
    }

    /*  .site-canvas {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
      }*/
    .site-canvas .toggle-bar-line {
        display: none;
    }

    .view-all {
        float: right;
    }

    img.size-thumbnail {
        margin: 0 15px 15px 0;
    }

    .rtl-lang img.size-thumbnail,
    html[lang="fa"] img.size-thumbnail {
        margin: 0 0 15px 15px;
    }

    /*ar*/
    .rtl-lang .col-md-1,
    .rtl-lang .col-md-10,
    .rtl-lang .col-md-11,
    .rtl-lang .col-md-12,
    .rtl-lang .col-md-2,
    .rtl-lang .col-md-3,
    .rtl-lang .col-md-4,
    .rtl-lang .col-md-5,
    .rtl-lang .col-md-6,
    .rtl-lang .col-md-7,
    .rtl-lang .col-md-8,
    .rtl-lang .col-md-9,
    html[lang="fa"] .col-md-1,
    html[lang="fa"] .col-md-10,
    html[lang="fa"] .col-md-11,
    html[lang="fa"] .col-md-12,
    html[lang="fa"] .col-md-2,
    html[lang="fa"] .col-md-3,
    html[lang="fa"] .col-md-4,
    html[lang="fa"] .col-md-5,
    html[lang="fa"] .col-md-6,
    html[lang="fa"] .col-md-7,
    html[lang="fa"] .col-md-8,
    html[lang="fa"] .col-md-9 {
        float: right;
    }

    .rtl-lang .col-md-offset-1,
    html[lang="fa"] .col-md-offset-1 {
        margin-left: 0;
        margin-right: 8.33333333%;
    }

    .rtl-lang .col-md-offset-2,
    html[lang="fa"] .col-md-offset-2 {
        margin-left: 0;
        margin-right: 16.66666667%;
    }

    .rtl-lang .col-md-offset-3,
    html[lang="fa"] .col-md-offset-3 {
        margin-left: 0;
        margin-right: 25%;
    }

    .rtl-lang .col-md-pull-6,
    html[lang="fa"] .col-md-pull-6 {
        left: 50%;
        right: auto;
    }

    .rtl-lang .col-md-push-6,
    html[lang="fa"] .col-md-push-6 {
        right: 50%;
        left: auto;
    }

    .rtl-lang .col-md-pull-3,
    html[lang="fa"] .col-md-pull-3 {
        left: 25%;
        right: auto;
    }

    .rtl-lang .col-md-push-3,
    html[lang="fa"] .col-md-push-3 {
        right: 25%;
        left: auto;
    }

}

@media(min-width:1200px) {
    .section {
        padding: 70px 0 0 0;
        background-color: #f1f1f1;
    }

    .section::before,
    .section.bottom::after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-style: solid;
        border-width: 35px 280px 0 280px;
        z-index: 9;
        width: 0;
        height: 0;
    }

    .section::before {
        top: 0;
        border-color: #fff transparent transparent transparent;
    }

    .section.bottom::after {
        bottom: -30px;
        border-color: #f1f1f1 transparent transparent transparent;
    }

    .section .line-arrow::after {
        border-color: #f1f1f1 transparent transparent transparent;
    }

    .rtl-lang .col-lg-offset-2,
    html[lang="fa"] .col-lg-offset-2 {
        margin-left: 0;
        margin-right: 16.66666667%;
    }

}

@media (max-width:1290px) {
    .layout > section {
        margin-bottom: 30px;
    }

}

@media (max-width:1200px) {
    .hidden-l-sm {
        display: none;
    }

}

@media (max-width:991px) {
    .center-sm {
        max-width: 450px;
        margin: 0 auto !important;
    }

    section.container {
        margin-top: 30px;
    }

    section {
        margin-bottom: 0;
    }

    .sm-txt-center {
        text-align: center;
    }

    .partner-types h2,
    .partner-types h3,
    .partner-types p {
        text-align: center;
    }

    .animating .site-canvas {
        transition: transform .25s ease-in-out;
        -webkit-transition: -webkit-transform .25s ease-in-out;
    }

}

@media (max-width:767px) {
    .center-xs {
        max-width: 450px;
        margin: 0 auto !important;
    }

    article small {
        display: block;
        text-align: left;
        margin-top: 15px;
    }

}


/* XMT Home Promo */

.xmtrader-content {
   border-bottom: 1px solid #cecece;
 }

.xmt-home-promo-left h2 {
    font-size: 24px!important;
    margin-bottom: 10px;
}

.xmt-home-promo-left p {
    font-size: 13px;
}

.xmtrader-content p.sub-text {
    font-size: 15px;
    margin-right: 0;
}

.xmt-home-promo-left,
.xmt-home-promo-right {
  float: none;
  display: table-cell;
  vertical-align: bottom;
}


.xmtrader-content hr {
    width: 15%;
    margin: 15px 0 15px;
    min-height: 1px;
    height: 5px;
    background: #d51820;
}

span.no-wrap {
    white-space: nowrap;
}

/* MQ */
@media (min-width:1200px){
   .xmtrader-content {
        border-bottom: none;
    } 
}

@media (min-width:998px){
    .xmtrader-content p.sub-text {
        font-size: 22px;
    }
    .xmt-home-promo-left h2 {
        font-size: 30px!important;
    }

    .xmt-home-promo-right {
        padding: 0!important;
    }
    .xmt-home-promo-left p {
        font-size: 16px;
    }
}
