body {
    color: #333;
    font-size: 14px;
    line-height: 1.5 !important;
}

html[lang="zh_CN"] body,
html[lang="tw"] body {
    font-size: 15px;
}

.mArea h1 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    color: #000;
}

h3.border {
    padding: 12px;
    font-size: 16px;
    border: 2px solid #cbcbcb;
    color: #888;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
}

h3.border.reset {
    margin-bottom: 0;
}

h4 {
    font-size: 14px;
    font-weight: 700;
    color: #d51820;
    margin: 0;
}

h2 {
    margin-top: 0;
    margin-bottom: 30px;
}

#careers h2,
.main-site.hp-v17 h2 {
    font-size: 30px;
}

.main-site.hp-v17 h2 {
    font-weight: bold;
}

h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h3.light {
    font-weight: 300;
}

.education h3 {
    font-size: 22px;
}

h2.big {
    font-size: 35px;
    font-weight: bold;
}

p.big {
    font-size: 20px;
    font-weight: 300;
}

ul li.cat-item a {
    color: #000;
}

small,
.small {
    font-size: 90%;
}

/*Body text*/
body,
#notify-recording-block .btn,
.btn small,
.fontsize-control .btn,
#forex-calculator .btn-group .btn.btn-default,
.table-country-filter .btn,
.popover,
.buttons-nav .btn.telegram {
    font-family: "Roboto", sans-serif;
}

html[lang="bn"] body,
html[lang="bn"] #notify-recording-block .btn,
html[lang="bn"] .btn small,
html[lang="bn"] .fontsize-control .btn,
html[lang="bn"] #forex-calculator .btn-group .btn.btn-default,
html[lang="bn"] .table-country-filter .btn,
html[lang="bn"] .popover,
html[lang="bn"] .buttons-nav .btn.telegram,
html[lang="bn"] #custom-livechat .btn,
html[lang="bn"] #custom-livechat .nav-tabs > li > a {
    font-family: "Roboto", "HindSiliguri", sans-serif;
}

html[lang="ja"] body,
html[lang="ja"] #notify-recording-block .btn,
html[lang="ja"] .btn small,
html[lang="ja"] .fontsize-control .btn,
html[lang="ja"] #forex-calculator .btn-group .btn.btn-default,
html[lang="ja"] .table-country-filter .btn,
html[lang="ja"] .popover,
html[lang="ja"] .buttons-nav .btn.telegram,
html[lang="ja"] #custom-livechat .btn,
html[lang="ja"] #custom-livechat .nav-tabs > li > a {
    font-family: "Roboto", Hiragino Kaku Gothic Pro, "Meiryo", sans-serif;
}

html[lang="zh_CN"] body,
html[lang="tw"] body,
html[lang="zh_CN"] #notify-recording-block .btn,
html[lang="tw"] #notify-recording-block .btn,
html[lang="zh_CN"] .btn small,
html[lang="tw"] .btn small,
html[lang="zh_CN"] .fontsize-control .btn,
html[lang="tw"] .fontsize-control .btn,
html[lang="zh_CN"] #forex-calculator .btn-group .btn.btn-default,
html[lang="tw"] #forex-calculator .btn-group .btn.btn-default,
html[lang="zh_CN"] .table-country-filter .btn,
html[lang="tw"] .table-country-filter .btn,
html[lang="zh_CN"] .popover,
html[lang="tw"] .popover,
html[lang="zh_CN"] .buttons-nav .btn.telegram,
html[lang="tw"] .buttons-nav .btn.telegram,
html[lang="zh_CN"] #custom-livechat .btn,
html[lang="tw"] #custom-livechat .btn,
html[lang="zh_CN"] #custom-livechat .nav-tabs > li > a,
html[lang="tw"] #custom-livechat .nav-tabs > li > a {
    /*font-family: "Roboto", Arial, sans-serif;*/
    font-family: "Roboto", Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
}

body.rtl-lang,
html[lang="fa"] body,
html[lang="th"] body,
.rtl-lang #notify-recording-block .btn,
html[lang="fa"] #notify-recording-block .btn,
html[lang="th"] #notify-recording-block .btn,
.rtl-lang .btn small,
html[lang="fa"] .btn small,
html[lang="th"] .btn small,
.rtl-lang .fontsize-control .btn,
html[lang="fa"] .fontsize-control .btn,
html[lang="th"] .fontsize-control .btn,
.rtl-lang #forex-calculator .btn-group .btn.btn-default,
html[lang="fa"] #forex-calculator .btn-group .btn.btn-default,
html[lang="th"] #forex-calculator .btn-group .btn.btn-default,
.rtl-lang .table-country-filter .btn,
html[lang="fa"] .table-country-filter .btn,
html[lang="th"] .table-country-filter .btn,
.rtl-lang .popover,
html[lang="fa"] .popover,
html[lang="th"] .popover,
.rtl-lang .buttons-nav .btn.telegram,
html[lang="fa"] .buttons-nav .btn.telegram,
html[lang="th"] .buttons-nav .btn.telegram,
.rtl-lang #custom-livechat .btn,
html[lang="fa"] #custom-livechat .btn,
html[lang="th"] #custom-livechat .btn,
.rtl-lang #custom-livechat .nav-tabs > li > a,
html[lang="fa"] #custom-livechat .nav-tabs > li > a,
html[lang="th"] #custom-livechat .nav-tabs > li > a {
    font-family: "Roboto", Tahoma, sans-serif;
}

/*Emphasize text*/
.emphasized-font,
.btn,
#main-nav.nav-logo > li > a,
#main-nav.partnersNavMenu > li > a,
.main-nav .block > span,
.main-nav .box > span,
.main-nav .block > span,
.toggleLeftNav span,
.toggleRightNav span,
.parent .top-bar h1,
#mobileAppBar .text-wrap h3,
.title-block-wrap,
.tabbable .nav-tabs > li > a,
h3.border,
h3#duration,
.platforms-center h3,
.promotion .prom1 .box h3,
.promotion .prom2 .box h3,
.prom-package .title,
.prom-package .addition,
.promotion h2,
.reasons-list,
.links-slider .slide a,
.xmtd .stripe span,
.partners #hero-content .stripe em,
.webinars h4,
.alert .account-status,
#myModalIndex button,
#processingpartners .wpwl-button,
.sidebar.mArea .alert,
.home_videos a h3,
.promo__bonus .header-wrap h2,
.prom-package .txt,
.promotion span.or,
.seminars .panel-default > .panel-heading .date,
#complaint .disputed .amount,
#galaPromo .bracket h3,
#galaPromo .mainTitle,
#galaPromo .subtitle,
#galaPromo .prizes .duration,
#galaPromo .main-msg.main-text,
#galaPromo.motogp .highlight-text,
#galaPromo.motogp .track-points .p7,
#galaPromo .main-msg.main-text,
#galaPromo.partner .main-header > .wrap h3,
#galaPromo.partner .place-labels .cash,
#galaPromo .main-msg.main-text,
.gold-silver,
#ib-competition h2.main,
#ib-competition header h2.sub,
.maintenance h1,
.seminars .panel-default > .panel-heading .date,
#world-championship .header .mainTitle,
#world-championship .header h2,
#world-championship .round-wrap .date span,
.upload-documents .modalDocuments .modal-header button,
.mArea .balance-bar span.amount,
.xmp-package h3,
#custom-livechat .btn,
#custom-livechat .nav-tabs > li > a ,
.monthly-timeline__info .uppercase,
.main-banner h2,
.shapes-circle__text h2,
.shapes-circle__text h3,
.shapes-circle__text h5,
.shapes-circle-container h6,
.main-photo .block h2,
.main-slider .block h2 {
    font-family: "Bebas", "BebasExt", sans-serif;
    text-transform: uppercase;
}

html[lang="el"] .emphasized-font,
html[lang="vn"] .emphasized-font,
html[lang="el"] .btn,
html[lang="vn"] .btn,
html[lang="el"] #main-nav.nav-logo > li > a,
html[lang="el"] #main-nav.partnersNavMenu > li > a,
html[lang="vn"] #main-nav.nav-logo > li > a,
html[lang="vn"] #main-nav.partnersNavMenu > li > a,
html[lang="el"] .main-nav .block > span,
html[lang="vn"] .main-nav .block > span,
html[lang="el"] .main-nav .box > span,
html[lang="vn"] .main-nav .box > span,
html[lang="el"] .main-nav .block > span,
html[lang="vn"] .main-nav .block > span,
html[lang="el"] .toggleLeftNav span,
html[lang="vn"] .toggleLeftNav span,
html[lang="el"] .toggleRightNav span,
html[lang="vn"] .toggleRightNav span,
html[lang="el"] .parent .top-bar h1,
html[lang="vn"] .parent .top-bar h1,
html[lang="el"] #mobileAppBar .text-wrap h3,
html[lang="vn"] #mobileAppBar .text-wrap h3,
html[lang="el"] .title-block-wrap,
html[lang="vn"] .title-block-wrap,
html[lang="el"] .tabbable .nav-tabs > li > a,
html[lang="vn"] .tabbable .nav-tabs > li > a,
html[lang="el"] h3.border,
html[lang="vn"] h3.border,
html[lang="el"] h3#duration,
html[lang="vn"] h3#duration,
html[lang="el"] .platforms-center h3,
html[lang="vn"] .platforms-center h3,
html[lang="el"] .promotion .prom1 .box h3,
html[lang="vn"] .promotion .prom1 .box h3,
html[lang="el"] .promotion .prom2 .box h3,
html[lang="vn"] .promotion .prom2 .box h3,
html[lang="el"] .prom-package .title,
html[lang="vn"] .prom-package .title,
html[lang="el"] .prom-package .addition,
html[lang="vn"] .prom-package .addition,
html[lang="el"] .promotion h2,
html[lang="vn"] .promotion h2,
html[lang="el"] .reasons-list,
html[lang="vn"] .reasons-list,
html[lang="el"] .links-slider .slide a,
html[lang="vn"] .links-slider .slide a,
html[lang="el"] .xmtd .stripe span,
html[lang="vn"] .xmtd .stripe span,
html[lang="el"] .partners #hero-content .stripe em,
html[lang="vn"] .partners #hero-content .stripe em,
html[lang="el"] .webinars h4,
html[lang="vn"] .webinars h4,
html[lang="el"] .alert .account-status,
html[lang="vn"] .alert .account-status,
html[lang="el"] #myModalIndex button,
html[lang="vn"] #myModalIndex button,
html[lang="el"] #processingpartners .wpwl-button,
html[lang="vn"] #processingpartners .wpwl-button,
html[lang="el"] .sidebar.mArea .alert,
html[lang="vn"] .sidebar.mArea .alert,
html[lang="el"] .home_videos a h3,
html[lang="vn"] .home_videos a h3,
html[lang="el"] .promo__bonus .header-wrap h2,
html[lang="vn"] .promo__bonus .header-wrap h2,
html[lang="el"] .prom-package .txt,
html[lang="vn"] .prom-package .txt,
html[lang="el"] .promotion span.or,
html[lang="vn"] .promotion span.or,
html[lang="el"] .seminars .panel-default > .panel-heading .date,
html[lang="vn"] .seminars .panel-default > .panel-heading .date,
html[lang="el"] #complaint .disputed .amount,
html[lang="vn"] #complaint .disputed .amount,
html[lang="el"] #galaPromo .bracket h3,
html[lang="vn"] #galaPromo .bracket h3,
html[lang="el"] #galaPromo .mainTitle,
html[lang="vn"] #galaPromo .mainTitle,
html[lang="el"] #galaPromo .subtitle,
html[lang="vn"] #galaPromo .subtitle,
html[lang="el"] #galaPromo .prizes .duration,
html[lang="vn"] #galaPromo .prizes .duration,
html[lang="el"] #galaPromo .main-msg.main-text,
html[lang="vn"] #galaPromo .main-msg.main-text,
html[lang="el"] #galaPromo.motogp .highlight-text,
html[lang="vn"] #galaPromo.motogp .highlight-text,
html[lang="el"] #galaPromo.motogp .track-points .p7,
html[lang="vn"] #galaPromo.motogp .track-points .p7,
html[lang="el"] #galaPromo .main-msg.main-text,
html[lang="vn"] #galaPromo .main-msg.main-text,
html[lang="el"] #galaPromo.partner .main-header > .wrap h3,
html[lang="vn"] #galaPromo.partner .main-header > .wrap h3,
html[lang="el"] #galaPromo.partner .place-labels .cash,
html[lang="vn"] #galaPromo.partner .place-labels .cash,
html[lang="el"] #galaPromo .main-msg.main-text,
html[lang="vn"] #galaPromo .main-msg.main-text,
html[lang="el"] .gold-silver,
html[lang="vn"] .gold-silver,
html[lang="el"] #ib-competition h2.main,
html[lang="vn"] #ib-competition h2.main,
html[lang="el"] #ib-competition header h2.sub,
html[lang="vn"] #ib-competition header h2.sub,
html[lang="el"] .maintenance h1,
html[lang="vn"] .maintenance h1,
html[lang="el"] .seminars .panel-default > .panel-heading .date,
html[lang="vn"] .seminars .panel-default > .panel-heading .date,
html[lang="el"] #world-championship .header .mainTitle,
html[lang="vn"] #world-championship .header .mainTitle,
html[lang="el"] #world-championship .header h2,
html[lang="vn"] #world-championship .header h2,
html[lang="el"] #world-championship .round-wrap .date span,
html[lang="vn"] #world-championship .round-wrap .date span,
html[lang="el"] .upload-documents .modalDocuments .modal-header button,
html[lang="vn"] .upload-documents .modalDocuments .modal-header button,
html[lang="el"] .mArea .balance-bar span.amount,
html[lang="vn"] .mArea .balance-bar span.amount,
html[lang="el"] .xmp-package h3,
html[lang="vn"] .xmp-package h3,
html[lang="el"] .dotted-container__text .uppercase,
html[lang="vn"] .dotted-container__text .uppercase,
html[lang="el"] .main-banner h2,
html[lang="vn"] .main-banner h2,
html[lang="el"] .shapes-circle__text h2,
html[lang="vn"] .shapes-circle__text h2,
html[lang="el"] .shapes-circle__text h3,
html[lang="vn"] .shapes-circle__text h3,
html[lang="el"] .shapes-circle__text h5,
html[lang="vn"] .shapes-circle__text h5,
html[lang="el"] .shapes-circle-container h6,
html[lang="vn"] .shapes-circle-container h6{
    font-family: "RobCond", "Bebas", "BebasExt", sans-serif;
}

html[lang="bn"] .emphasized-font,
html[lang="bn"] .btn,
html[lang="bn"] #main-nav.nav-logo > li > a,
html[lang="bn"] #main-nav.partnersNavMenu > li > a,
html[lang="bn"] .main-nav .block > span,
html[lang="bn"] .main-nav .box > span,
html[lang="bn"] .main-nav .block > span,
html[lang="bn"] .toggleLeftNav span,
html[lang="bn"] .toggleRightNav span,
html[lang="bn"] .parent .top-bar h1,
html[lang="bn"] #mobileAppBar .text-wrap h3,
html[lang="bn"] .title-block-wrap,
html[lang="bn"] .tabbable .nav-tabs > li > a,
html[lang="bn"] h3.border,
html[lang="bn"] h3#duration,
html[lang="bn"] .platforms-center h3,
html[lang="bn"] .promotion .prom1 .box h3,
html[lang="bn"] .promotion .prom2 .box h3,
html[lang="bn"] .prom-package .title,
html[lang="bn"] .prom-package .addition,
html[lang="bn"] .promotion h2,
html[lang="bn"] .reasons-list,
html[lang="bn"] .links-slider .slide a,
html[lang="bn"] .xmtd .stripe span,
html[lang="bn"] .partners #hero-content .stripe em,
html[lang="bn"] .webinars h4,
html[lang="bn"] .alert .account-status,
html[lang="bn"] #myModalIndex button,
html[lang="bn"] #processingpartners .wpwl-button,
html[lang="bn"] .sidebar.mArea .alert,
html[lang="bn"] .home_videos a h3,
html[lang="bn"] .promo__bonus .header-wrap h2,
html[lang="bn"] .prom-package .txt,
html[lang="bn"] .promotion span.or,
html[lang="bn"] .seminars .panel-default > .panel-heading .date,
html[lang="bn"] #complaint .disputed .amount,
html[lang="bn"] #galaPromo .bracket h3,
html[lang="bn"] #galaPromo .mainTitle,
html[lang="bn"] #galaPromo .subtitle,
html[lang="bn"] #galaPromo .prizes .duration,
html[lang="bn"] #galaPromo .main-msg.main-text,
html[lang="bn"] #galaPromo.motogp .highlight-text,
html[lang="bn"] #galaPromo.motogp .track-points .p7,
html[lang="bn"] #galaPromo .main-msg.main-text,
html[lang="bn"] #galaPromo.partner .main-header > .wrap h3,
html[lang="bn"] #galaPromo.partner .place-labels .cash,
html[lang="bn"] #galaPromo .main-msg.main-text,
html[lang="bn"] .gold-silver,
html[lang="bn"] #ib-competition h2.main,
html[lang="bn"] #ib-competition header h2.sub,
html[lang="bn"] .maintenance h1,
html[lang="bn"] .seminars .panel-default > .panel-heading .date,
html[lang="bn"] #world-championship .header .mainTitle,
html[lang="bn"] #world-championship .header h2,
html[lang="bn"] #world-championship .round-wrap .date span,
html[lang="bn"] .upload-documents .modalDocuments .modal-header button,
html[lang="bn"] .mArea .balance-bar span.amount,
html[lang="bn"] .xmp-package h3 {
    font-family: "Bebas", "HindSiliguri", sans-serif;
}

html[lang="ja"] .emphasized-font,
html[lang="ja"] .btn,
html[lang="ja"] #main-nav.nav-logo > li > a,
html[lang="ja"] #main-nav.partnersNavMenu > li > a,
html[lang="ja"] .main-nav .block > span,
html[lang="ja"] .main-nav .box > span,
html[lang="ja"] .main-nav .block > span,
html[lang="ja"] .toggleLeftNav span,
html[lang="ja"] .toggleRightNav span,
html[lang="ja"] .parent .top-bar h1,
html[lang="ja"] #mobileAppBar .text-wrap h3,
html[lang="ja"] .title-block-wrap,
html[lang="ja"] .tabbable .nav-tabs > li > a,
html[lang="ja"] h3.border,
html[lang="ja"] h3#duration,
html[lang="ja"] .platforms-center h3,
html[lang="ja"] .promotion .prom1 .box h3,
html[lang="ja"] .promotion .prom2 .box h3,
html[lang="ja"] .prom-package .title,
html[lang="ja"] .prom-package .addition,
html[lang="ja"] .promotion h2,
html[lang="ja"] .reasons-list,
html[lang="ja"] .links-slider .slide a,
html[lang="ja"] .xmtd .stripe span,
html[lang="ja"] .partners #hero-content .stripe em,
html[lang="ja"] .webinars h4,
html[lang="ja"] .alert .account-status,
html[lang="ja"] #myModalIndex button,
html[lang="ja"] #processingpartners .wpwl-button,
html[lang="ja"] .sidebar.mArea .alert,
html[lang="ja"] .home_videos a h3,
html[lang="ja"] .promo__bonus .header-wrap h2,
html[lang="ja"] .prom-package .txt,
html[lang="ja"] .promotion span.or,
html[lang="ja"] .seminars .panel-default > .panel-heading .date,
html[lang="ja"] #complaint .disputed .amount,
html[lang="ja"] #galaPromo .bracket h3,
html[lang="ja"] #galaPromo .mainTitle,
html[lang="ja"] #galaPromo .subtitle,
html[lang="ja"] #galaPromo .prizes .duration,
html[lang="ja"] #galaPromo .main-msg.main-text,
html[lang="ja"] #galaPromo.motogp .highlight-text,
html[lang="ja"] #galaPromo.motogp .track-points .p7,
html[lang="ja"] #galaPromo .main-msg.main-text,
html[lang="ja"] #galaPromo.partner .main-header > .wrap h3,
html[lang="ja"] #galaPromo.partner .place-labels .cash,
html[lang="ja"] #galaPromo .main-msg.main-text,
html[lang="ja"] .gold-silver,
html[lang="ja"] #ib-competition h2.main,
html[lang="ja"] #ib-competition header h2.sub,
html[lang="ja"] .maintenance h1,
html[lang="ja"] .seminars .panel-default > .panel-heading .date,
html[lang="ja"] #world-championship .header .mainTitle,
html[lang="ja"] #world-championship .header h2,
html[lang="ja"] #world-championship .round-wrap .date span,
html[lang="ja"] .upload-documents .modalDocuments .modal-header button,
html[lang="ja"] .mArea .balance-bar span.amount,
html[lang="ja"] .xmp-package h3 {
    font-family: "Bebas", Hiragino Kaku Gothic Pro, "Meiryo", sans-serif;
}

html[lang="zh_CN"] .emphasized-font,
html[lang="tw"] .emphasized-font,
html[lang="zh_CN"] .btn,
html[lang="tw"] .btn,
html[lang="zh_CN"] #main-nav.nav-logo > li > a,
html[lang="zh_CN"] #main-nav.partnersNavMenu > li > a,
html[lang="tw"] #main-nav.nav-logo > li > a,
html[lang="tw"] #main-nav.partnersNavMenu > li > a,
html[lang="zh_CN"] .main-nav .block > span,
html[lang="tw"] .main-nav .block > span,
html[lang="zh_CN"] .main-nav .box > span,
html[lang="tw"] .main-nav .box > span,
html[lang="zh_CN"] .main-nav .block > span,
html[lang="tw"] .main-nav .block > span,
html[lang="zh_CN"] .toggleLeftNav span,
html[lang="tw"] .toggleLeftNav span,
html[lang="zh_CN"] .toggleRightNav span,
html[lang="tw"] .toggleRightNav span,
html[lang="zh_CN"] .parent .top-bar h1,
html[lang="tw"] .parent .top-bar h1,
html[lang="zh_CN"] #mobileAppBar .text-wrap h3,
html[lang="tw"] #mobileAppBar .text-wrap h3,
html[lang="zh_CN"] .title-block-wrap,
html[lang="tw"] .title-block-wrap,
html[lang="zh_CN"] .tabbable .nav-tabs > li > a,
html[lang="tw"] .tabbable .nav-tabs > li > a,
html[lang="zh_CN"] h3.border,
html[lang="tw"] h3.border,
html[lang="zh_CN"] h3#duration,
html[lang="tw"] h3#duration,
html[lang="zh_CN"] .platforms-center h3,
html[lang="tw"] .platforms-center h3,
html[lang="zh_CN"] .promotion .prom1 .box h3,
html[lang="tw"] .promotion .prom1 .box h3,
html[lang="zh_CN"] .promotion .prom2 .box h3,
html[lang="tw"] .promotion .prom2 .box h3,
html[lang="zh_CN"] .prom-package .title,
html[lang="tw"] .prom-package .title,
html[lang="zh_CN"] .prom-package .addition,
html[lang="tw"] .prom-package .addition,
html[lang="zh_CN"] .promotion h2,
html[lang="tw"] .promotion h2,
html[lang="zh_CN"] .reasons-list,
html[lang="tw"] .reasons-list,
html[lang="zh_CN"] .links-slider .slide a,
html[lang="tw"] .links-slider .slide a,
html[lang="zh_CN"] .xmtd .stripe span,
html[lang="tw"] .xmtd .stripe span,
html[lang="zh_CN"] .partners #hero-content .stripe em,
html[lang="tw"] .partners #hero-content .stripe em,
html[lang="zh_CN"] .webinars h4,
html[lang="tw"] .webinars h4,
html[lang="zh_CN"] .alert .account-status,
html[lang="tw"] .alert .account-status,
html[lang="zh_CN"] #myModalIndex button,
html[lang="tw"] #myModalIndex button,
html[lang="zh_CN"] #processingpartners .wpwl-button,
html[lang="tw"] #processingpartners .wpwl-button,
html[lang="zh_CN"] .sidebar.mArea .alert,
html[lang="tw"] .sidebar.mArea .alert,
html[lang="zh_CN"] .home_videos a h3,
html[lang="tw"] .home_videos a h3,
html[lang="zh_CN"] .promo__bonus .header-wrap h2,
html[lang="tw"] .promo__bonus .header-wrap h2,
html[lang="zh_CN"] .prom-package .txt,
html[lang="tw"] .prom-package .txt,
html[lang="zh_CN"] .promotion span.or,
html[lang="tw"] .promotion span.or,
html[lang="zh_CN"] .seminars .panel-default > .panel-heading .date,
html[lang="tw"] .seminars .panel-default > .panel-heading .date,
html[lang="zh_CN"] #complaint .disputed .amount,
html[lang="tw"] #complaint .disputed .amount,
html[lang="zh_CN"] #galaPromo .bracket h3,
html[lang="tw"] #galaPromo .bracket h3,
html[lang="zh_CN"] #galaPromo .mainTitle,
html[lang="tw"] #galaPromo .mainTitle,
html[lang="zh_CN"] #galaPromo .subtitle,
html[lang="tw"] #galaPromo .subtitle,
html[lang="zh_CN"] #galaPromo .prizes .duration,
html[lang="tw"] #galaPromo .prizes .duration,
html[lang="zh_CN"] #galaPromo .main-msg.main-text,
html[lang="tw"] #galaPromo .main-msg.main-text,
html[lang="zh_CN"] #galaPromo.motogp .highlight-text,
html[lang="tw"] #galaPromo.motogp .highlight-text,
html[lang="zh_CN"] #galaPromo.motogp .track-points .p7,
html[lang="tw"] #galaPromo.motogp .track-points .p7,
html[lang="zh_CN"] #galaPromo .main-msg.main-text,
html[lang="tw"] #galaPromo .main-msg.main-text,
html[lang="zh_CN"] #galaPromo.partner .main-header > .wrap h3,
html[lang="tw"] #galaPromo.partner .main-header > .wrap h3,
html[lang="zh_CN"] #galaPromo.partner .place-labels .cash,
html[lang="tw"] #galaPromo.partner .place-labels .cash,
html[lang="zh_CN"] #galaPromo .main-msg.main-text,
html[lang="tw"] #galaPromo .main-msg.main-text,
html[lang="zh_CN"] .gold-silver,
html[lang="tw"] .gold-silver,
html[lang="zh_CN"] #ib-competition h2.main,
html[lang="tw"] #ib-competition h2.main,
html[lang="zh_CN"] #ib-competition header h2.sub,
html[lang="tw"] #ib-competition header h2.sub,
html[lang="zh_CN"] .maintenance h1,
html[lang="tw"] .maintenance h1,
html[lang="zh_CN"] .seminars .panel-default > .panel-heading .date,
html[lang="tw"] .seminars .panel-default > .panel-heading .date,
html[lang="zh_CN"] #world-championship .header .mainTitle,
html[lang="tw"] #world-championship .header .mainTitle,
html[lang="zh_CN"] #world-championship .header h2,
html[lang="tw"] #world-championship .header h2,
html[lang="zh_CN"] #world-championship .round-wrap .date span,
html[lang="tw"] #world-championship .round-wrap .date span,
html[lang="zh_CN"] .upload-documents .modalDocuments .modal-header button,
html[lang="tw"] .upload-documents .modalDocuments .modal-header button,
html[lang="zh_CN"] .mArea .balance-bar span.amount,
html[lang="tw"] .mArea .balance-bar span.amount,
html[lang="zh_CN"] .xmp-package h3,
html[lang="tw"] .xmp-package h3 {
    font-family: "Bebas", Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
}

.rtl-lang .emphasized-font,
html[lang="fa"] .emphasized-font,
html[lang="th"] .emphasized-font,
.rtl-lang .btn,
html[lang="fa"] .btn,
html[lang="th"] .btn,
.rtl-lang #main-nav.nav-logo > li > a,
html[lang="fa"] #main-nav.nav-logo > li > a,
html[lang="th"] #main-nav.nav-logo > li > a,
.rtl-lang #main-nav.partnersNavMenu > li > a,
html[lang="fa"] #main-nav.partnersNavMenu > li > a,
html[lang="th"] #main-nav.partnersNavMenu > li > a,
.rtl-lang .main-nav .block > span,
html[lang="fa"] .main-nav .block > span,
html[lang="th"] .main-nav .block > span,
.rtl-lang .main-nav .box > span,
html[lang="fa"] .main-nav .box > span,
html[lang="th"] .main-nav .box > span,
.rtl-lang .main-nav .block > span,
html[lang="fa"] .main-nav .block > span,
html[lang="th"] .main-nav .block > span,
.rtl-lang .toggleLeftNav span,
html[lang="fa"] .toggleLeftNav span,
html[lang="th"] .toggleLeftNav span,
.rtl-lang .toggleRightNav span,
html[lang="fa"] .toggleRightNav span,
html[lang="th"] .toggleRightNav span,
.rtl-lang .parent .top-bar h1,
html[lang="fa"] .parent .top-bar h1,
html[lang="th"] .parent .top-bar h1,
.rtl-lang #mobileAppBar .text-wrap h3,
html[lang="fa"] #mobileAppBar .text-wrap h3,
html[lang="th"] #mobileAppBar .text-wrap h3,
.rtl-lang .title-block-wrap,
html[lang="fa"] .title-block-wrap,
html[lang="th"] .title-block-wrap,
.rtl-lang .tabbable .nav-tabs > li > a,
html[lang="fa"] .tabbable .nav-tabs > li > a,
html[lang="th"] .tabbable .nav-tabs > li > a,
.rtl-lang h3.border,
html[lang="fa"] h3.border,
html[lang="th"] h3.border,
.rtl-lang h3#duration,
html[lang="fa"] h3#duration,
html[lang="th"] h3#duration,
.rtl-lang .platforms-center h3,
html[lang="fa"] .platforms-center h3,
html[lang="th"] .platforms-center h3,
.rtl-lang .promotion .prom1 .box h3,
html[lang="fa"] .promotion .prom1 .box h3,
html[lang="th"] .promotion .prom1 .box h3,
.rtl-lang .promotion .prom2 .box h3,
html[lang="fa"] .promotion .prom2 .box h3,
html[lang="th"] .promotion .prom2 .box h3,
.rtl-lang .prom-package .title,
html[lang="fa"] .prom-package .title,
html[lang="th"] .prom-package .title,
.rtl-lang .prom-package .addition,
html[lang="fa"] .prom-package .addition,
html[lang="th"] .prom-package .addition,
.rtl-lang .promotion h2,
html[lang="fa"] .promotion h2,
html[lang="th"] .promotion h2,
.rtl-lang .reasons-list,
html[lang="fa"] .reasons-list,
html[lang="th"] .reasons-list,
.rtl-lang .links-slider .slide a,
html[lang="fa"] .links-slider .slide a,
html[lang="th"] .links-slider .slide a,
.rtl-lang .xmtd .stripe span,
html[lang="fa"] .xmtd .stripe span,
html[lang="th"] .xmtd .stripe span,
.rtl-lang .partners #hero-content .stripe em,
html[lang="fa"] .partners #hero-content .stripe em,
html[lang="th"] .partners #hero-content .stripe em,
.rtl-lang .webinars h4,
html[lang="fa"] .webinars h4,
html[lang="th"] .webinars h4,
.rtl-lang .alert .account-status,
html[lang="fa"] .alert .account-status,
html[lang="th"] .alert .account-status,
.rtl-lang #myModalIndex button,
html[lang="fa"] #myModalIndex button,
html[lang="th"] #myModalIndex button,
.rtl-lang #processingpartners .wpwl-button,
html[lang="fa"] #processingpartners .wpwl-button,
html[lang="th"] #processingpartners .wpwl-button,
.rtl-lang .sidebar.mArea .alert,
html[lang="fa"] .sidebar.mArea .alert,
html[lang="th"] .sidebar.mArea .alert,
.rtl-lang .home_videos a h3,
html[lang="fa"] .home_videos a h3,
html[lang="th"] .home_videos a h3,
.rtl-lang .promo__bonus .header-wrap h2,
html[lang="fa"] .promo__bonus .header-wrap h2,
html[lang="th"] .promo__bonus .header-wrap h2,
.rtl-lang .prom-package .txt,
html[lang="fa"] .prom-package .txt,
html[lang="th"] .prom-package .txt,
.rtl-lang .promotion span.or,
html[lang="fa"] .promotion span.or,
html[lang="th"] .promotion span.or,
.rtl-lang .seminars .panel-default > .panel-heading .date,
html[lang="fa"] .seminars .panel-default > .panel-heading .date,
html[lang="th"] .seminars .panel-default > .panel-heading .date,
.rtl-lang #complaint .disputed .amount,
html[lang="fa"] #complaint .disputed .amount,
html[lang="th"] #complaint .disputed .amount,
.rtl-lang #galaPromo .bracket h3,
html[lang="fa"] #galaPromo .bracket h3,
html[lang="th"] #galaPromo .bracket h3,
.rtl-lang #galaPromo .mainTitle,
html[lang="fa"] #galaPromo .mainTitle,
html[lang="th"] #galaPromo .mainTitle,
.rtl-lang #galaPromo .subtitle,
html[lang="fa"] #galaPromo .subtitle,
html[lang="th"] #galaPromo .subtitle,
.rtl-lang #galaPromo .prizes .duration,
html[lang="fa"] #galaPromo .prizes .duration,
html[lang="th"] #galaPromo .prizes .duration,
.rtl-lang #galaPromo .main-msg.main-text,
html[lang="fa"] #galaPromo .main-msg.main-text,
html[lang="th"] #galaPromo .main-msg.main-text,
.rtl-lang #galaPromo.motogp .highlight-text,
html[lang="fa"] #galaPromo.motogp .highlight-text,
html[lang="th"] #galaPromo.motogp .highlight-text,
.rtl-lang #galaPromo.motogp .track-points .p7,
html[lang="fa"] #galaPromo.motogp .track-points .p7,
html[lang="th"] #galaPromo.motogp .track-points .p7,
.rtl-lang #galaPromo .main-msg.main-text,
html[lang="fa"] #galaPromo .main-msg.main-text,
html[lang="th"] #galaPromo .main-msg.main-text,
.rtl-lang #galaPromo.partner .main-header > .wrap h3,
html[lang="fa"] #galaPromo.partner .main-header > .wrap h3,
html[lang="th"] #galaPromo.partner .main-header > .wrap h3,
.rtl-lang #galaPromo.partner .place-labels .cash,
html[lang="fa"] #galaPromo.partner .place-labels .cash,
html[lang="th"] #galaPromo.partner .place-labels .cash,
.rtl-lang #galaPromo .main-msg.main-text,
html[lang="fa"] #galaPromo .main-msg.main-text,
html[lang="th"] #galaPromo .main-msg.main-text,
.rtl-lang .gold-silver,
html[lang="fa"] .gold-silver,
html[lang="th"] .gold-silver,
.rtl-lang #ib-competition h2.main,
html[lang="fa"] #ib-competition h2.main,
html[lang="th"] #ib-competition h2.main,
.rtl-lang #ib-competition header h2.sub,
html[lang="fa"] #ib-competition header h2.sub,
html[lang="th"] #ib-competition header h2.sub,
.rtl-lang .maintenance h1,
html[lang="fa"] .maintenance h1,
html[lang="th"] .maintenance h1,
.rtl-lang .seminars .panel-default > .panel-heading .date,
html[lang="fa"] .seminars .panel-default > .panel-heading .date,
html[lang="th"] .seminars .panel-default > .panel-heading .date,
.rtl-lang #world-championship .header .mainTitle,
html[lang="fa"] #world-championship .header .mainTitle,
html[lang="th"] #world-championship .header .mainTitle,
.rtl-lang #world-championship .header h2,
html[lang="fa"] #world-championship .header h2,
html[lang="th"] #world-championship .header h2,
.rtl-lang #world-championship .round-wrap .date span,
html[lang="fa"] #world-championship .round-wrap .date span,
html[lang="th"] #world-championship .round-wrap .date span,
.rtl-lang .upload-documents .modalDocuments .modal-header button,
html[lang="fa"] .upload-documents .modalDocuments .modal-header button,
html[lang="th"] .upload-documents .modalDocuments .modal-header button,
.rtl-lang .mArea .balance-bar span.amount,
html[lang="fa"] .mArea .balance-bar span.amount,
html[lang="th"] .mArea .balance-bar span.amount,
.rtl-lang .xmp-package h3,
html[lang="fa"] .xmp-package h3,
html[lang="th"] .xmp-package h3 {
    font-family: "Bebas", Tahoma, sans-serif;
}

/*bebas in all languages*/
.emphasized-symbol,
.red-number,
.stripe em,
.benefit-account em,
.prom-package .plus,
.prom-package .num,
span.promo-num h5,
.promotion .small-half-box h5,
.cirle,
.page404 h1,
.about-xm .box-border1 h4,
.promotion .half-box h5,
.promotion .small-half-box h5,
.pagination,
.zero-account .num,
#dashboard-wrap > div,
ol.reasons-list li a b,
.promotion .prom1 .box-left span,
.promotion .prom1 .box-right span,
.promotion .prom2 .box-left span,
.promotion .prom2 .box-right span,
.about-xm .timeline .year,
#alnassr-tickets .header,
#alnassr-tickets h3.big,
.hanami .duration,
.hanami .duration span,
#ib-competition header h2.sub:before,
#ib-competition header h2.sub:after,
#world-championship .round-circle .round,
#world-championship .round-circle .price,
#world-championship .round-wrap.rect .round-circle .round,
#world-championship .round-wrap.rect .round-circle .participant,
#world-championship .round-wrap.xs li .content .num,
.promotion .half-box h5,
.promotion .small-half-box h5 {
    font-family: "Bebas", "BebasExt", sans-serif;
}

.testingRemoveThis {
    display: none;
}