@font-face {
  font-family: 'xmFont';
  src:  url('https://cloud.xm-cdn.com/assets/fonts/xmFont/xmFont.eot?h94kjn');
  src:  url('https://cloud.xm-cdn.com/assets/fonts/xmFont/xmFont.eot?h94kjn#iefix') format('embedded-opentype'),
  url('https://cloud.xm-cdn.com/assets/fonts/xmFont/xmFont.woff2?h94kjn') format('woff2'),
  url('https://cloud.xm-cdn.com/assets/fonts/xmFont/xmFont.ttf?h94kjn') format('truetype'),
  url('https://cloud.xm-cdn.com/assets/fonts/xmFont/xmFont.woff?h94kjn') format('woff'),
  url('https://cloud.xm-cdn.com/assets/fonts/xmFont/xmFont.svg?h94kjn#xmFont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.xmFont {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xmFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xmSpread3:before {
  content: "\e9e4";
}
.xmSpread-plus-1:before {
  content: "\e9e5";
}
.xmSpread-plus-3:before {
  content: "\e9e2";
}
.xmSpread5:before {
  content: "\e9e3";
}
.xmNews:before {
  content: "\e9e0";
}
.xmZoom-news:before {
  content: "\e9e1";
}
.xmSupport-on:before {
  content: "\e9dd";
}
.xmSupport-off:before {
  content: "\e9de";
}
.xmLeverage-50:before {
  content: "\e9df";
}
.xmEnvelope-remove:before {
  content: "\e9db";
}
.xmDisplay-off:before {
  content: "\e9dc";
}
.xmPlaylist-solid:before {
  content: "\e9d9";
}
.xmPlaylist-outline:before {
  content: "\e9da";
}
.xmLive-video:before {
  content: "\e9d8";
}
.xmLeverage-30:before {
  content: "\e9d7";
}
.xmPercent:before {
  content: "\e9d6";
}
.xmIslam:before {
  content: "\e9d4";
}
.xmDepositor:before {
  content: "\e9d5";
}
.xmAbacus:before {
  content: "\e901";
}
.xmAcrobat:before {
  content: "\e902";
}
.xmAdd-user:before {
  content: "\e903";
}
.xmAndroid:before {
  content: "\e904";
}
.xmAndroidLogo-phone:before {
  content: "\e905";
}
.xmAndroidLogo-tablet:before {
  content: "\e906";
}
.xmAndroid-phone:before {
  content: "\e907";
}
.xmAndroid-tablet:before {
  content: "\e908";
}
.xmApple:before {
  content: "\e909";
}
.xmApple-ipad:before {
  content: "\e90a";
}
.xmApple-iphone:before {
  content: "\e90b";
}
.xmArrow-circle:before {
  content: "\e90c";
}
.xmArrows:before {
  content: "\e90d";
}
.xmAward:before {
  content: "\e90e";
}
.xmBank:before {
  content: "\e90f";
}
.xmBar-chart:before {
  content: "\e910";
}
.xmBirthday:before {
  content: "\e911";
}
.xmBitcoin:before {
  content: "\e912";
}
.xmBitcoin-wallet:before {
  content: "\e913";
}
.xmBriefcase:before {
  content: "\e914";
}
.xmBuilding:before {
  content: "\e915";
}
.xmBull:before {
  content: "\e916";
}
.xmBull-solid:before {
  content: "\e917";
}
.xmCalculator:before {
  content: "\e918";
}
.xmCalendar:before {
  content: "\e919";
}
.xmCalendar-check:before {
  content: "\e91a";
}
.xmCamera:before {
  content: "\e91b";
}
.xmCandlestick:before {
  content: "\e91c";
}
.xmCertificate:before {
  content: "\e91d";
}
.xmCertified:before {
  content: "\e91e";
}
.xmChart:before {
  content: "\e91f";
}
.xmChart-24h:before {
  content: "\e920";
}
.xmChart-50:before {
  content: "\e921";
}
.xmChart-55:before {
  content: "\e922";
}
.xmChart-100:before {
  content: "\e923";
}
.xmChart-300:before {
  content: "\e924";
}
.xmChart-bars2:before {
  content: "\e925";
}
.xmChart-bars-arrow:before {
  content: "\e926";
}
.xmChart-candlestick:before {
  content: "\e927";
}
.xmChart-high:before {
  content: "\e928";
}
.xmChart-line:before {
  content: "\e929";
}
.xmChart-line-low:before {
  content: "\e92a";
}
.xmChart-pie:before {
  content: "\e92b";
}
.xmChart-search:before {
  content: "\e92c";
}
.xmChat:before {
  content: "\e92d";
}
.xmCheck-circle:before {
  content: "\e92e";
}
.xmChecklist:before {
  content: "\e92f";
}
.xmChecklist-clock:before {
  content: "\e930";
}
.xmCheck-round:before {
  content: "\e931";
}
.xmCheck-shield:before {
  content: "\e932";
}
.xmCheers:before {
  content: "\e933";
}
.xmClick:before {
  content: "\e934";
}
.xmClock:before {
  content: "\e935";
}
.xmCloud:before {
  content: "\e936";
}
.xmCloud-download:before {
  content: "\e937";
}
.xmCloud-upload:before {
  content: "\e938";
}
.xmCoffee:before {
  content: "\e939";
}
.xmCoins:before {
  content: "\e93a";
}
.xmCorded-phone:before {
  content: "\e93b";
}
.xmCreditcard:before {
  content: "\e93c";
}
.xmDatabase-dollar:before {
  content: "\e93d";
}
.xmDirector:before {
  content: "\e93e";
}
.xmDisplay:before {
  content: "\e93f";
}
.xmDisplays:before {
  content: "\e940";
}
.xmDocument:before {
  content: "\e941";
}
.xmDocument-check:before {
  content: "\e942";
}
.xmDocuments:before {
  content: "\e943";
}
.xmDocument-zoom:before {
  content: "\e944";
}
.xmDollar-bag:before {
  content: "\e945";
}
.xmDollar-circle:before {
  content: "\e946";
}
.xmDollar-drop:before {
  content: "\e947";
}
.xmDollar-round:before {
  content: "\e948";
}
.xmDollar-settings:before {
  content: "\e949";
}
.xmDownload:before {
  content: "\e94a";
}
.xmDrop:before {
  content: "\e94b";
}
.xmEarth:before {
  content: "\e94c";
}
.xmEnvelope:before {
  content: "\e94d";
}
.xmFacebook:before {
  content: "\e94e";
}
.xmFifty-plus:before {
  content: "\e94f";
}
.xmGears:before {
  content: "\e950";
}
.xmGift:before {
  content: "\e951";
}
.xmGlobe:before {
  content: "\e952";
}
.xmGold:before {
  content: "\e953";
}
.xmGoogle-plus:before {
  content: "\e954";
}
.xmHand-coins:before {
  content: "\e955";
}
.xmHappy:before {
  content: "\e956";
}
.xmHigh-bars:before {
  content: "\e957";
}
.xmHistory:before {
  content: "\e958";
}
.xmImac:before {
  content: "\e959";
}
.xmImac-apple:before {
  content: "\e95a";
}
.xmInfinity:before {
  content: "\e95b";
}
.xmInstagram:before {
  content: "\e95c";
}
.xmInstall-pc:before {
  content: "\e95d";
}
.xmInstall-phone:before {
  content: "\e95e";
}
.xmInstall-tablet:before {
  content: "\e95f";
}
.xmIpad:before {
  content: "\e960";
}
.xmIphone:before {
  content: "\e961";
}
.xmKey:before {
  content: "\e962";
}
.xmLaptop:before {
  content: "\e963";
}
.xmLetter:before {
  content: "\e964";
}
.xmLeverage-100:before {
  content: "\e965";
}
.xmLeverage-500:before {
  content: "\e966";
}
.xmLeverage-888:before {
  content: "\e967";
}
.xmLifevest:before {
  content: "\e968";
}
.xmLike:before {
  content: "\e969";
}
.xmLike-bubble:before {
  content: "\e96a";
}
.xmLink:before {
  content: "\e96b";
}
.xmLinked-in:before {
  content: "\e96c";
}
.xmLinux:before {
  content: "\e96d";
}
.xmLocation:before {
  content: "\e96e";
}
.xmLocation-map:before {
  content: "\e96f";
}
.xmLock:before {
  content: "\e970";
}
.xmLock-check:before {
  content: "\e971";
}
.xmLock-open:before {
  content: "\e972";
}
.xmLow-price:before {
  content: "\e973";
}
.xmMetatrader:before {
  content: "\e974";
}
.xmMic:before {
  content: "\e975";
}
.xmMobile-chart:before {
  content: "\e976";
}
.xmMt4:before {
  content: "\e977";
}
.xmMt5:before {
  content: "\e978";
}
.xmMultiple-prices:before {
  content: "\e979";
}
.xmMultiterminal:before {
  content: "\e97a";
}
.xmMusic:before {
  content: "\e97b";
}
.xmNo-credit-card:before {
  content: "\e97c";
}
.xmNo-dollar:before {
  content: "\e97d";
}
.xmNo-image:before {
  content: "\e97e";
}
.xmOlympic:before {
  content: "\e97f";
}
.xmOn-off:before {
  content: "\e980";
}
.xmPaperclip:before {
  content: "\e981";
}
.xmPaper-history:before {
  content: "\e982";
}
.xmPaper-pen:before {
  content: "\e983";
}
.xmPc:before {
  content: "\e984";
}
.xmPc-window:before {
  content: "\e985";
}
.xmPdf-large:before {
  content: "\e986";
}
.xmPdf-small:before {
  content: "\e987";
}
.xmPdf-thin:before {
  content: "\e988";
}
.xmPencil-form:before {
  content: "\e989";
}
.xmPencil-lock:before {
  content: "\e98a";
}
.xmPie-chart:before {
  content: "\e98b";
}
.xmPiggy-bank:before {
  content: "\e98c";
}
.xmPlay-outline:before {
  content: "\e98d";
}
.xmPlay-solid:before {
  content: "\e98e";
}
.xmPost:before {
  content: "\e98f";
}
.xmProducer:before {
  content: "\e990";
}
.xmPromotions:before {
  content: "\e991";
}
.xmPuzzle:before {
  content: "\e992";
}
.xmQq:before {
  content: "\e993";
}
.xmQq-line:before {
  content: "\e994";
}
.xmQq-solid:before {
  content: "\e995";
}
.xmQuestion:before {
  content: "\e996";
}
.xmQuote:before {
  content: "\e997";
}
.xmRefresh-dollar:before {
  content: "\e998";
}
.xmResponsive:before {
  content: "\e999";
}
.xmSafe:before {
  content: "\e99a";
}
.xmScale:before {
  content: "\e99b";
}
.xmSeminar:before {
  content: "\e99c";
}
.xmShapes:before {
  content: "\e99d";
}
.xmShare:before {
  content: "\e99e";
}
.xmShield-dollar:before {
  content: "\e99f";
}
.xmSignal:before {
  content: "\e9a0";
}
.xmSignals:before {
  content: "\e9a1";
}
.xmSpeed:before {
  content: "\e9a2";
}
.xmSpread25:before {
  content: "\e9a3";
}
.xmSprinter:before {
  content: "\e9a4";
}
.xmStamp:before {
  content: "\e9a5";
}
.xmStar:before {
  content: "\e9a6";
}
.xmStop-sign:before {
  content: "\e9a7";
}
.xmStopwatch:before {
  content: "\e9a8";
}
.xmStrategy:before {
  content: "\e9a9";
}
.xmSupport:before {
  content: "\e9aa";
}
.xmSupport24-5:before {
  content: "\e9ab";
}
.xmThunder:before {
  content: "\e9ac";
}
.xmTime:before {
  content: "\e9ad";
}
.xmTools:before {
  content: "\e9ae";
}
.xmTrader:before {
  content: "\e9af";
}
.xmTrash:before {
  content: "\e9b0";
}
.xmTwitter:before {
  content: "\e9b1";
}
.xmUninstall-pc:before {
  content: "\e9b2";
}
.xmUpload-document:before {
  content: "\e9b3";
}
.xmUp-percent:before {
  content: "\e9b4";
}
.xmUser:before {
  content: "\e9b5";
}
.xmUser-care:before {
  content: "\e9b6";
}
.xmUser-check:before {
  content: "\e9b7";
}
.xmUser-height:before {
  content: "\e9b8";
}
.xmUser-id:before {
  content: "\e9b9";
}
.xmUser-profile:before {
  content: "\e9ba";
}
.xmUsers:before {
  content: "\e9bb";
}
.xmUser-upgrade:before {
  content: "\e9bc";
}
.xmVideo-camera:before {
  content: "\e9bd";
}
.xmVideo-chart:before {
  content: "\e9be";
}
.xmVideo-player:before {
  content: "\e9bf";
}
.xmWallet:before {
  content: "\e9c0";
}
.xmWater-bill:before {
  content: "\e9c1";
}
.xmWeb-development:before {
  content: "\e9c2";
}
.xmWebinar:before {
  content: "\e9c3";
}
.xmWebsite:before {
  content: "\e9c4";
}
.xmWebtrader:before {
  content: "\e9c5";
}
.xmWheat:before {
  content: "\e9c6";
}
.xmWithdraw:before {
  content: "\e9c7";
}
.xmWithdraw-dollar:before {
  content: "\e9c8";
}
.xmWorld:before {
  content: "\e9c9";
}
.xmYouku-outline:before {
  content: "\e9ca";
}
.xmYouku-solid:before {
  content: "\e9cb";
}
.xmYoutube-play:before {
  content: "\e9cc";
}
.xmZero-comma:before {
  content: "\e9cd";
}
.xmZero-dot:before {
  content: "\e9ce";
}
.xmZero-fees:before {
  content: "\e9cf";
}
.xmZero-one:before {
  content: "\e9d0";
}
.xmZoom:before {
  content: "\e9d1";
}
.xmZoom-gear:before {
  content: "\e9d2";
}
.xmZoom-in:before {
  content: "\e9d3";
}
.xmZoom-out:before {
  content: "\e900";
}